﻿@using System.Data;
@using System.Data.SqlClient;

@using SampleFacebookApp.Models
@using Microsoft.AspNet.Mvc.Facebook.Models
@using Microsoft.AspNet.Mvc.Facebook
@model MyAppUser
@{
    ViewBag.Title = "Home Page";
}

<body>
	
	<div id="gameboard">       
		<a id="wager-now" href="@Url.Action("wager","WagerBoard")"><img src="images/wager-now-text.png"/></a>
        <a id="tournaments" href="@Url.Action("tournament","WagerBoard")"><img src="images/tournaments-text.png"/></a>
		<div id="userprofile">
			<img src="@Model.ProfilePicture.Data.Url" style="width:160px;">
		</div>
		<div id="liquid1" class="liquid" style="width: 525px; height: 129px; overflow: hidden;">
			<span class="previous"></span>
			<div class="wrapper" style="height: 129px; overflow: hidden; float: left; width: 474px;">
				@Html.DisplayFor(m => m.Friends.Data, "Friends")
			</div>
			<span class="next">
			</span>
		</div> 
		<div id="chip_balance">
			<p>You must select only 3 hand</p>
			<a id="close"></a>
		</div>
		<div id="invite_frnd">
			<img id="gif1" src="">
			<img id="gif2" src="">
			<img id="gif3" src="">
			<img id="gif4" src="">
			<p>You must select only 3 hand</p>
			<a id="close"></a>
		</div>
		<div id="backgroundPopup"></div>
		<p class="designed-by">
			<a target="_blank" href="http://www.major-brains.com" title="Designed & Developed by MajorBrains">
				MajorBrains
			</a>
		</p>
    </div>
</body>