﻿@using System.Data;
@using System.Data.SqlClient;

@using SampleFacebookApp.Models
@using Microsoft.AspNet.Mvc.Facebook.Models
@using Microsoft.AspNet.Mvc.Facebook
@model MyAppUser
@{
    ViewBag.Title = "Home Page";
}

<body>
	<div style="" id="dvLoading">   
	</div>
	<div id="gameboard">
       
		<a id="wager-now" href="@Url.Action("wager", "WagerBoard")"><img src="images/wager-now-text.png"/></a>
        <a id="tournaments" href="@Url.Action("tournament", "WagerBoard")"><img src="images/tournaments-text.png"/></a>
		<div id="userprofile">
			<img src="@Model.ProfilePicture.Data.Url" style="width:160px;">
		</div>
		<div id="liquid1" class="liquid" style="width: 525px; height: 129px; overflow: hidden;">
			<span class="previous"></span>
			<div class="wrapper" style="height: 129px; overflow: hidden; float: left; width: 474px;">
				@Html.DisplayFor(m => m.Friends.Data, "Friends")
			</div>
			<span class="next">
			</span>
		</div>
		<div id="chip_balance">
			<p>You must select only 3 hand</p>
			<a id="close"></a>
		</div>
		<div id="invite_frnd">
			<img id="gif1" src="">
			<img id="gif2" src="">
			<img id="gif3" src="">
			<img id="gif4" src="">
			<p>You must select only 3 hand</p>
			<a id="close"></a>
		</div>
		<p class="designed-by">
			<a target="_blank" href="http://www.major-brains.com" title="Designed & Developed by MajorBrains">
				MajorBrains
			</a>
		</p>
       
        @{
            
            String br = Request.Browser.Browser.ToString();

            if ((br == "Firefox") || (br == "Chrome")) {
              
				<script src="~/Scripts/jquery.tinysort.js"></script>												
				<script src="~/Scripts/main.js"></script>												
				<!--[if IE]><script src="~/Scripts/excanvas.js"></script><![endif]-->
				<script type="text/javascript">
					$(document).ready(function () {
						if ($.browser.mozilla || $.browser.chrome) {
							$("#wheel").fadeIn(1000);
							$("#backgroundPopup").show();
							$("#congratulations #close").click(function () {
								$("#congratulations").hide();
								
							});
						} else {
							$("#wheel").hide();
							$("#backgroundPopup").hide();
						}
					});
				</script>       
				<div id="spin">
					<div id="backgroundPopup"></div>
					<div id="venues"><ul></ul></div>
					<div id="congratulations" class="win_chips">
						<p>You Win</p>
						<a id="close" ></a>
						<div id="star"></div>
						<div id="fb_share"></div>
					</div>
					<div id="wheel">
						<a href="" id="close"></a>
						<canvas id="canvas" width="650" height="650"></canvas>
						<div id="button"></div>
						<div id="spinresult"></div>
						<div id="pointer"></div>
						<div id="middle"></div>
					</div>	
				</div>
              
            }else{
              
				<div id="congratulations" class="win_chips">
					<p>You Win</p>
					<a id="close" ></a>
					<div id="star"></div>
					<div id="fb_share"></div>
				</div>
				<div class="fancy">
					<div id="change_me"></div>
					<div id="blank"></div>	
					<div id="slot_outer">	
						<a href="" id="close"></a>
						<ul class="slot">            
							<li id="1"><span>250</span></li>            
							<li id="2"><span>500</span></li>            
							<li id="3"><span>1500</span></li>            
							<li id="4"><span>2000</span></li>            
							<li id="5"><span>2500</span></li>            
							<li id="6"><span>4000</span></li>            								
						</ul>		
					</div>
					<div id="arrow"></div>
					<div id="spin_win"></div>
				</div>
				<div id="backgroundPopup" ></div>	
				<script src="~/Scripts/jquery.easing.1.3.js"></script>
				<script src="~/Scripts/jquery.jSlots.js"></script>
				<script src="~/Scripts/settime.js"></script>		
				<script type="text/javascript" charset="utf-8">
					$(document).ready(function () {
						$("#backgroundPopup").show();
						$('#slot_outer').hide();
						$("#congratulations #close").click(function () {
							$("#congratulations").hide();							
						});
						jQuery(function () {
							var x;
							setInterval(function () {
								if (x == 0) {
									jQuery('#arrow').css('background-position', '0px 0px');
									x = 1;
								} else {
									if (x = 1) {
										jQuery('#arrow').css('background-position', '0px -70px');
										x = 0;
									}
								}
							}, 200);
						});
					});
					$('.fancy .slot').jSlots({
						number: 1,
						winnerNumber: 1,
						spinner: '#change_me',
						easing: 'easeOutSine',
						time: 3000,
						loops: 8,
						onStart: function () {
							$('.slot').removeClass('winner');
						},
					});
				</script>              
            }
        }
       
		
        
    </div>
</body>