﻿@using Microsoft.AspNet.Mvc.Facebook
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>@ViewBag.Title - Post Time Poker</title>
    @Styles.Render("~/Content/cssone")
     @Scripts.Render("~/bundles/jquery")
     @Scripts.Render("~/bundles/jsfirst")
 
    
    

    <script type="text/javascript">
     $(document).ready(function () {

         /*fb share*/

         $("#fb_share").click(function () {
               FB.ui(
                       {
                        method: 'share',
                        href: 'https://apps.facebook.com/posttimepoker',
                        name: 'I have won free chips',
                        caption: 'Play Post Time Poker',
                        },
                        function (response) {
                        if (response && !response.error_code) {
                         //alert('Posting completed.');
                     } else {
                      // alert('Error while posting.');
     }
 }
);
        //     alert("hiiii");
         });

		$("#chip_balance #close").click(function () {
			$("#chip_balance").hide();	
			$("#backgroundPopup").hide('slow');			
		});
		$("#invite_frnd #close").click(function () {
			//$("#invite_frnd").hide();	
			$('#invite_frnd').stop().animate({'top':-200}, 500);									
			$("#backgroundPopup").hide();			
			$("#gif1").attr("src", '');
			$("#gif2").attr("src", '');
			$("#gif3").attr("src", '');
			$("#gif4").attr("src", '');
		});
         $('.win_chips #close').click(function () {
             var value = $('#congratulations p span').html();
             $.ajax({
                 type: "POST",
                 url: '@Url.Action("Addchip","WagerBoard")',
                 content: "application/json; charset=utf-8",
                 data: ({chip:value}),
	                   success: function (data) {
					
					$('#chip_balance p').html('Your Chip Balance is Now <span>' + data + '</span>');
					$("#chip_balance").show(1000);
					setInterval(function() {					 					
						$('#chip_balance').stop().animate({'top':200}, 1000);					
					}, 1000);
	                      // alert('Your Chip Balance is Now '+data);
	                     //  alert($('#congratulations p span').html());
	              },
             });
		 				
		});
	 });
     $(document).ready(function () {
         $('#liquid1').liquidcarousel({ height: 129, duration: 100, hidearrows: false });
		$('#gameboard').bind('contextmenu', function(e) {
				return false;
			}); 	

     });
	 
</script>
    <script type="text/javascript">//<![CDATA[ 
        $(window).load(function () { });
        $(window).bind("load", function () {
            $('#dvLoading').fadeOut(2000);
        });
	</script>
  
 
    

<style type="text/css">
        .auto-style1 {
            width: 800px;
            height: 1100px;
        }
    </style>

</head>
<body>
   



  <script>
      window.fbAsyncInit = function () {
          FB.init({
              appId: '@GlobalFacebookConfiguration.Configuration.AppId', // App ID
          status: true, // check login status
          cookie: true, // enable cookies to allow the server to access the session
          xfbml: true  // parse XFBML
      });
    };

  // Load the SDK Asynchronously
  (function (d) {
      var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
      if (d.getElementById(id)) { return; }
      js = d.createElement('script'); js.id = id; js.async = true;
      js.src = "//connect.facebook.net/en_US/all.js";
      ref.parentNode.insertBefore(js, ref);
  }(document));
  </script>
    
  <script>

           function callback(response) {
          console.log(response);
          if (response.request) {

              $.ajax({
                  type: "POST",
                  url: '@Url.Action("Addchip","WagerBoard")',
                 content: "application/json; charset=utf-8",
                 data: ({ chip: "50"}),
                 success: function (data) {
					$('#invite_frnd p').html('Your Chip Balance is Now <span>' + data + '</span>');					
					$("#backgroundPopup").show();
					$('#invite_frnd').stop().animate({'top':800}, 1000);
					setTimeout(function() {
						$("#gif1").attr("src", 'Images/gif/Fireworks-01-june.gif');
						$('#gif1').show();
					}, 2000);					
					setTimeout(function() {
						$('#gif1').hide();
						$("#gif2").attr("src", 'Images/gif/graphics-fireworks-032090.gif');
						$('#gif2').show();
					}, 3200);					
					setTimeout(function() {
						$('#gif2').hide();
						$("#gif3").attr("src", 'Images/gif/Fireworks-02-june.gif');
						$('#gif3').show();
					}, 4500);					
					setTimeout(function() {
						$('#gif3').hide();
						$("#gif4").attr("src", 'Images/gif/graphics-fireworks-158568.gif');
						$('#gif4').show();
					}, 5700);
					setTimeout(function() {						
						$('#gif4').hide();
					}, 6500);					
					
                     //alert('Your Chip Balance is Now ' + data);
                     //  alert($('#congratulations p span').html());
                 },
              });

           
          }
      }
      function Invite(frndid)
      {

          FB.ui({method: 'apprequests',
              message: 'join me to play Post Time Poker for unlimited excitement!',
              to: frndid
          }, callback);

          
    /*      var gCoinsObjectURL = 'http://apps.facebook.com/ptpfacebook/coin.html';


          console.log("Constructing Request ID: " + frndid);
          FB.ui({
              method: 'pay',
              action: 'purchaseitem',
              product: "https://graph.facebook.com/292914537550412",
              request_id: frndid,
              quantity: 3
          },
    verifyPayment
    );
       */
      }

    /*  function verifyPayment(data) {
          if (!data) {
              alert("There was an error processing your payment. Please try again!");
              return;
          }

          console.log("Payment verification complete");
          console.log(data);

          if (data.error_code) {
              if (data.error_code != 1383010) {
                  alert("There was an error processing your payment." + data.error_message + " Error code:" + data.error_code);
              }
              return;
          }

          closeStore();
          gPlayerCoins = parseInt(gPlayerCoins) + parseInt(data.quantity);

          var success = showPopUp({ img: 'coin_bundle64.png', title: 'Coins!' });
          success.innerHTML = "You bought " + data.quantity + " coins!<br>Let's smash some friends!";

          $('.player_coins').html(gPlayerCoins);
      }
      */
  </script>  

    @RenderBody()  	

   
</body>
</html>