﻿
<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
  <meta charset="utf-8" />
    <meta property="og:type" content="og:product" />

    <meta property="og:title" content="Friend Smash Coin!" />
  <meta property="og:plural_title" content="Friend Smash Coins!" />
  <meta property="og:image" content="http://192.168.2.19/ptpgame/Images/coin64.png" />
  <meta property="og:url" content="http://192.168.2.19/ptpgame/coin.html" />
  <meta property="og:description" content="Get some coins and buy more lives and bombs!" />
  <meta property="product:price:amount" content="0.10"/>
  <meta property="product:price:currency" content="USD"/>
  <meta property="product:price:amount" content="0.12"/>
  <meta property="product:price:currency" content="CAD"/>
  <meta property="product:price:amount" content="0.08"/>
  <meta property="product:price:currency" content="EUR"/>
  <meta property="product:price:amount" content="0.06"/>
  <meta property="product:price:currency" content="GBP"/>
  <meta property="product:price:amount" content="1.2"/>
  <meta property="product:price:currency" content="MXN"/>
  <meta property="product:price:amount" content="0.50"/>
  <meta property="product:price:currency" content="BRL"/>
  <meta property="product:price:amount" content="0.64"/>
  <meta property="product:price:currency" content="SEK"/>
</head>
<body> 
    
        @RenderBody()   
	
	
</body>
</html>