﻿@using Microsoft.AspNet.Mvc.Facebook
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
     <title>@ViewBag.Title Post Time Poker</title>
     @Scripts.Render("~/bundles/jsjquery")
     @Scripts.Render("~/bundles/jsjquerymin")
    
    @Scripts.Render("~/bundles/jstabslider")
   
   @Styles.Render("~/Content/cssnormalize")
    @Styles.Render("~/Content/csstabstyle")
    @Styles.Render("~/Content/cssone")
 



  
     <!--Submit Bet,Share Button-->

	<script type="text/javascript">
	    $(document).ready(function () {
			var pagebytes = $('html').html().length;
			var kbytes = pagebytes / 1024;	
			alert(kbytes);
            /* facebook share action*/
	       
	        $("#fb_share").click(function () {
	            FB.ui(
                        {
                            method: 'share',
                            href: 'https://apps.facebook.com/posttimepoker',
                        },
                         function (response) {
                             if (response && !response.error_code) {
                                 //alert('Posting completed.');
                             } else {
                                 // alert('Error while posting.');
                             }
                         }
                     );
	            //     alert("hiiii");
	        });

	        /*Facebook achivement share*/
	        $("#fb_ach").click(function () {

	            alert("hii");
	            FB.api(
                "/me/achievements",
                "POST",
                 {
                     'access_token': '659535730770177|mjZhxHFbqu0JCV6eGPn5CkblEMI',

                "object": {
                    "achievement": "https://ptp.amtote.com/mbpro/opengraph/star_badge.html"
                         }
                },
                 function (response) {
                     console.log(response);
                     
                   
                }
                );
	            //     alert("hiiii");
	        });
			$("#chip_balance #close").click(function () {
				$("#chip_balance").hide();	
				$("#backgroundPopup").hide('slow');			
			});
	        /* submit bet function*/
	        $("#divProcessing").hide();

	        $('#wager_button').click(function () {	
				if ($('#on-off').val()==1){					
					$('#select_chips').val($('#total_dollar span').html());
				}
	            //$('#betform').submit();
	        });
	        $("#betform").on("submit", function (event) {
	            event.preventDefault();
	            $("#divProcessing").show();
	            $("#backgroundPopup").show();
	            var url2 = $(this).attr("action");
	            var formData = $(this).serialize();

	            $.ajax({

	                url: url2,
	                type: "POST",
	                data: formData,
	                dataType: "json",
	                success: function (resp) {

	                    if (resp == "fail")
	                        window.location.href = '@Url.Action("Index","Home")';

	                    $("#divProcessing").hide();
	                    $("#backgroundPopup").hide();
	                    $("#hide_board").show("slow", function () { });
	                    $("#hide_your_bet").show("slow", function () { });
						jQuery('#your_bet').css('background-image', 'url(../Images/gamewindow/place-your-bet.png)');
						$('.range, #dollar').css('top', '51px');
						$('#multiply, #total_dollar').hide();
						$("#on_off").hide();					
						$('.iphone-style').removeClass("on");
						$('.iphone-style').addClass("off");
						$('#on-off').val('0');
	                    $("#hide_wager_button").show("slow", function () { });
	                    $('#board div').removeClass("active");
	                    $('.submenu').removeClass("active");
	                    $("#board div").hide();
	                    $("#wager_now div").hide("slow", function () { });
	                    $("#select_hand1").val('');
	                    $("#select_hand2").val('');
	                    $("#select_hand3").val('');
	                    $("#select_hand4").val('');
	                    //$("#select_chips").val('');
	                    $("#select_bettype").val('');

	                  
	                    if (resp.status == "Sucessfull") {
	                        $("#bet_count").html(resp.totalbet);
	                        
	                        $('#error_message').css('top', '725px');
	                        $('#error_message p').html('Your bet has been placed sucessfully');
	                        $("#error_message").fadeIn(1000);
	                        $("#backgroundPopup").show();
	                    }

	                    else {
	                        $('#error_message').css('top', '725px');
	                        $('#error_message p').html(resp.status);
	                        $("#error_message").fadeIn(1000);
	                        $("#backgroundPopup").show();
	                    }
	                   

	                
	                }
	            })

	            
	        });

            /* submit bet close*/
			jQuery(function() {
				var x;
				setInterval(function() {					 
					if(x == 0) {
						jQuery('#wager_start #leaderboard').css('background-image', 'url(../Images/gamewindow/leaderboard-bg-1.png)');
						x = 1;
					} else  {
						if(x = 1) {
							jQuery('#wager_start #leaderboard').css('background-image', 'url(../Images/gamewindow/leaderboard-bg-2.png)');
							x = 0;
						}
					}
				}, 200);
			});
	    });

        </script>

       <!--Wager Pad and result Board-->

    <script>
		$(document).ready(function() {
			$('#gameloader').hide();
			var displaytime = 1;
			setInterval(function() {	
				if($('.gameclose').html() == 'yes'){					
					$("#sendgift").hide();
					$('.gift_board').animate({ left: 515 }, 10);
					setTimeout(function () {								
						$("#gift_board_outer").hide();
					}, 10);
					if ($('.resultboardtime').html() == 'yes') {										        
					    $('#gameloader').css('background-image', 'url(../Images/waiting-for-the-result.png)');
					    $('#wager_leaderboard').hide();				
					    $('#gameloader').show();				
					    $('#backgroundPopup').hide();				
					} else {

					    /*display score*/
					    
					    if (displaytime == 1) {

					      
				            if ($('.isplayed').html() == 'yes') {
					        $.ajax({
					            type: 'Get',
					            url: '@Url.Action("Getresult","WagerBoard")',
					            success: function (data) {

					              
					                $("#resultdata").html(data);
					                $("#resultboard").fadeIn(1000);
					                $("#backgroundPopup").show();
					            
					            },
					        }); 
					    }
					    }

					    $("#bet_count").html(" ");
						$('#gameloader').css('background-image', 'url(../Images/new-loader.png)');
						$('#wager_leaderboard').hide();				
						$('#gameloader').show();							
						displaytime = 0;
					}
				} else {
				  
                    displaytime = 1;
					$("#sendgift").show();	
				    displaytime = 1;
					$('#gameloader').hide();				
					$('#wager_leaderboard').show();									
				};
			}, 5000);	
		});

        </script>
    
      <!--Tool Tip-->
    
    <script>
		$(document).ready(function() {
			// Tooltip only Text
			$('.submenu').hover(function(){
					// Hover over code
					var title = $(this).attr('title');
					$(this).data('tipText', title).removeAttr('title');
					$('<p class="tooltip"></p>')
					.text(title)
					.appendTo('body')
					.fadeIn('slow');
			}, function() {
					// Hover out code
					$(this).attr('title', $(this).data('tipText'));
					$('.tooltip').remove();
			}).mousemove(function(e) {
					var mousex = e.pageX + 20; //Get X coordinates
					var mousey = e.pageY + 10; //Get Y coordinates
					$('.tooltip')
					.css({ top: mousey, left: mousex })
			});
		});
	</script>	


    <!--Payment verification-->
	
   	<script type="text/javascript">	
   	    function verifyPayment(data) {
   	        if (!data) {
   	            $('#error_message').css('top', '250px');
   	            $('#error_message p').html('There was an error processing your payment. Please try again!');
   	            $("#error_message").fadeIn(1000);
   	            $("#backgroundPopup").show();
   	            return;
   	        }

   	        if (data.error_code) {
   	            if (data.error_code != 1383010) {
   	                $('#error_message').css('top', '250px');
   	                $('#error_message p').html('There was an error processing your payment.' + data.error_message + " Error code:" + data.error_code);
   	                $("#error_message").fadeIn(1000);
   	                $("#backgroundPopup").show();
   	              
   	            }
   	            return;
   	        }

   	        $("#get_more_chips").hide();
   	        $("#backgroundPopup").hide();


   	 
   	        var chipc = 0;
   	        var coinc = 0;
   	        if (data.amount == "5.00") {
   	            chipc = 1500;
   	            coinc = 250;
   	        }

   	        if (data.amount == "5.00") {
   	            chipc = 1500;
   	            coinc = 250;
   	        }

   	        if (data.amount == "9.00") {
   	            chipc = 3000;
   	            coinc = 600;
   	        }

   	        if (data.amount == "19.00") {
   	            chipc = 6000;
   	            coinc = 1500;
   	        }

   	        if (data.amount == "39.00") {
   	            chipc = 13000;
   	            coinc = 3200;
   	        }
   	        $.ajax({
   	            type: 'Post',
   	            url: '@Url.Action("payment","WagerBoard")',
   	            content: "application/json; charset=utf-8",
   	            data: ({ chip: chipc, coin: coinc }),
   	           
   	            success: function (data) {

   	            
   	               
					$('#chip_balance p').html(data); 
					$("#chip_balance").show(1000);
					setInterval(function() {					 					
						$('#chip_balance').stop().animate({'top':200}, 1000);					
					}, 1000);
   	              


   	            },
   	        });




            
             
           }


   	    function hash(s) {
   	        var n;
   	        if (typeof (s) == 'number' && s === parseInt(s, 10)) {
   	            s = Array(s + 1).join('x');
   	        }
   	        return s.replace(/x/g, function () {
   	            var n = Math.round(Math.random() * 61) + 48;
   	            n = n > 57 ? (n + 7 > 90 ? n + 13 : n + 7) : n;
   	            return String.fromCharCode(n);
   	        });
   	    }

   	    function requestCallback(data) {
   	       


   	    }


        </script>
    
    <!--Buy Chips-->
    <script>
   	    $(document).ready(function () {


   	        /* payment script*/

   	        $("#get_more_chips #button").click(function () {


   	        //    alert($(this).parents("li").find(".chips span").html());
   	            var requestID = hash(64);

                /*price variables ogurl*/
   	            var ogurl = null;
   	            if ($(this).parents("li").find(".chips span").html() == "1500")
   	                ogurl = "http://ptp.amtote.com/mbpro/1500.html";

   	            if ($(this).parents("li").find(".chips span").html() == "3000")
   	                ogurl = "http://ptp.amtote.com/mbpro/3000.html";

   	            if ($(this).parents("li").find(".chips span").html() == "8000")
   	                ogurl = "http://ptp.amtote.com/mbpro/6000.html";

   	            if ($(this).parents("li").find(".chips span").html() == "13000")
   	                ogurl = "http://ptp.amtote.com/mbpro/13000.html";

   	            if ($(this).parents("li").find(".chips span").html() == "40000")
   	                ogurl = "http://ptp.amtote.com/mbpro/40000.html";

   	            if ($(this).parents("li").find(".chips span").html() == "115000")
   	                ogurl = "http://ptp.amtote.com/mbpro/115000.html";


   	            console.log("Constructing Request ID: ");
   	            FB.ui({
   	                method: 'pay',
   	                action: 'purchaseitem',
   	                product: ogurl,
   	                
   	              //  quantity: $(this).parents("li").find(".chips span").html(),                   // optional, defaults to 1
   	           //    quantity_min: 1500,                // optional, defaults to quantity
   	          //      quantity_max: 1000000,
   	          //      request_id: requestID
   	            },
          verifyPayment
          );

   	            var chipw = $(this).parents("li").find("#chips span").html();
   	            //alert($(this).parents( "li" ).find( "#price span" ).html());
   	            //alert($(this).parents( "li" ).find( "#chips span" ).html());
   	        });

            /*payment Script close*/

   	        $(".gift_board #button").click(function () {
   	            FB.ui({
   	                method: 'apprequests',
   	                message: 'Play Post Time Poker and share these sensational Gifts!'
   	            }, requestCallback);
			});
			
   	        $(".sendgift").toggle(function () { 				
				$("#gift_board_outer").show();
   	            $('.gift_board').animate({ left: 7 }, 1000);
   	        }, function () {   	            
   	            $('.gift_board').animate({ left: 515 }, 800);
				setTimeout(function () {								
					$("#gift_board_outer").hide();
				}, 800);
   	        });
   	    });

        </script>
        
    
    <script>
   	    $(document).ready(function () {
   	        $("#wager_now div").hide();
   	        $("#board div").hide();
			$( "#board2" ).hide();			
   	        $('.submenu').click(function () {
   	            $("#select_bettype").val($(this).html());
   	            $("#wager_now div").hide();
   	            $("#board div").hide();
   	            $("#hide_your_bet").show("slow", function () { });
				jQuery('#your_bet').css('background-image', 'url(../Images/gamewindow/place-your-bet.png)');
				$('.range, #dollar').css('top', '51px');
				$('#multiply, #total_dollar').hide();
				$("#on_off").hide();					
				$('.iphone-style').removeClass("on");
				$('.iphone-style').addClass("off");
				$('#on-off').val('0');
   	            $("#hide_wager_button").show("slow", function () { });
   	            $('#board div').removeClass("active");
				$('#board2 div').removeClass( "active" );												
   	            if ($(this).html() == 'EXACTA') {
   	                $total = 2;
					
   	            } else if ($(this).html() == 'TRIFECTA') {
   	                $total = 3;
					
   	            } else if ($(this).html() == 'SUPERFECTA') {
   	                $total = 4;
					
   	            } else {
   	                $total = 1;
					
   	            }
				if($(this).html() == 'STRAIGHT FLUSH' || $(this).html() == 'FOUR-DF-A-KIND' || $(this).html() == 'HIGH FLOP'){
					$("#board").hide();
					$("#board2").show( "slow", function() {	});	
					$win ="win";	
				}else{
					$("#board2").hide();
					$("#board").show( "slow", function() {	});	
					$win ="";	
				}
   	            $count = $total;
   	            $position1 = "0";
   	            $position2 = "0";
   	            $position3 = "0";
   	            $position4 = "0";
   	            $('#position1').html('');
   	            $('#position2').html('');
   	            $('#position3').html('');
   	            $('#position4').html('');
   	            $('#position1').css('background', 'none');
   	            $('#position2').css('background', 'none');
   	            $('#position3').css('background', 'none');
   	            $('#position4').css('background', 'none');
   	            $("#select_hand1").val('');
   	            $("#select_hand2").val('');
   	            $("#select_hand3").val('');
   	            $("#select_hand4").val('');
   	            $("#select_chips").val('');
   	            $('.submenu').removeClass("active");
   	            $("#hide_board").hide("slow", function () { });;
   	            $(this).addClass("active");
   	            setTimeout(function () { jQuery("#board .hand1").show("slow", function () { }); }, 200);
   	            setTimeout(function () { jQuery("#board .hand2").show("slow", function () { }); }, 300);
   	            setTimeout(function () { jQuery("#board .hand3").show("slow", function () { }); }, 400);
   	            setTimeout(function () { jQuery("#board .hand4").show("slow", function () { }); }, 500);
   	            setTimeout(function () { jQuery("#board .hand5").show("slow", function () { }); }, 600);
   	            setTimeout(function () { jQuery("#board .hand6").show("slow", function () { }); }, 700);
   	            setTimeout(function () { jQuery("#board .hand7").show("slow", function () { }); }, 800);
   	            setTimeout(function () { jQuery("#board .hand8").show("slow", function () { }); }, 900);
   	            setTimeout(function () { jQuery("#board .hand9").show("slow", function () { }) }, 1000);
   	            setTimeout(function () { jQuery("#board .hand10").show("slow", function () { }); }, 1100);
   	            setTimeout(function () { jQuery("#board .hand11").show("slow", function () { }); }, 1200);
   	            setTimeout(function () { jQuery("#board .hand12").show("slow", function () { }); }, 1300);
   	        });
   	        $("#board div, #board2 .win").click(function () {
   	            if ($(this).is('.active')) {
   	                $(this).removeClass("active");
   	                $total = $total + 1;
   	                $("#hide_your_bet").show("slow", function () { });
					jQuery('#your_bet').css('background-image', 'url(../Images/gamewindow/place-your-bet.png)');
					$('.range, #dollar').css('top', '51px');
					$('#multiply, #total_dollar').hide();
					$("#on_off").hide();					
					$('.iphone-style').removeClass("on");
					$('.iphone-style').addClass("off");
					$('#on-off').val('0');
   	                $("#hide_wager_button").show("slow", function () { });
   	                if ($(this).html() == $position1) {
   	                    $position1 = 0;
						if($win == "win"){
							
						}else{
							$("#position1").effect("transfer", { to: $(this) }, 500);
							$("#wager_now #position1").hide();
							setTimeout(function () {
								$('#position1').html('');
								$("#select_hand1").val('');
								$('#position1').css('background', 'none');
							}, 400);
						}
   	                } else if ($(this).html() == $position2) {
   	                    $position2 = 0;
   	                    $("#position2").effect("transfer", { to: $(this) }, 500);
   	                    $("#wager_now #position2").hide();
   	                    setTimeout(function () {
   	                        $('#position2').html('');
   	                        $("#select_hand2").val('');
   	                        $('#position2').css('background', 'none');
   	                    }, 400);
   	                } else if ($(this).html() == $position3) {
   	                    $position3 = 0;
   	                    $("#position3").effect("transfer", { to: $(this) }, 500);
   	                    $("#wager_now #position3").hide();
   	                    setTimeout(function () {
   	                        $('#position3').html('');
   	                        $("#select_hand3").val('');
   	                        $('#position3').css('background', 'none');
   	                    }, 400);
   	                } else if ($(this).html() == $position4) {
   	                    $position4 = 0;
   	                    $("#position4").effect("transfer", { to: $(this) }, 500);
   	                    $("#wager_now #position4").hide();
   	                    setTimeout(function () {
   	                        $('#position4').html('');
   	                        $("#select_hand4").val('');
   	                        $('#position4').css('background', 'none');
   	                    }, 400);
   	                }
   	            } else {
   	                if ($total) {
   	                    $(this).removeClass("active");
   	                    $(this).addClass("active");
   	                    $total = $total - 1;
   	                    $imageUrl = "../Images/gamewindow/hand.png"
   	                    if ($position1 == 0) {
							if($win == "win"){
							
							}else{
								//$("#wager_now #your_hands").show();
								$("#wager_now #position1").show();
								$(this).effect("transfer", { to: $("#position1") }, 500);
								$position1 = $(this).html();
								$("#select_hand1").val($(this).html());							
								setTimeout(function () {
									$('#position1').css('background', 'url("' + $imageUrl + '") no-repeat left top');
									$('#position1').html($position1 + '<p>1st position</p>');
								}, 400);
							}	
   	                    } else if ($position2 == 0) {
   	                        $("#wager_now #position2").show();
   	                        $(this).effect("transfer", { to: $("#position2") }, 500);
   	                        $position2 = $(this).html();
                            $("#select_hand2").val($(this).html());
   	                        setTimeout(function () {
   	                            $('#position2').css('background', 'url("' + $imageUrl + '") no-repeat left top');
   	                            $('#position2').html($position2 + '<p>2nd position</p>');
   	                        }, 400);
   	                    } else if ($position3 == 0) {
   	                        $("#wager_now #position3").show();
   	                        $(this).effect("transfer", { to: $("#position3") }, 500);
   	                        $position3 = $(this).html();
                            $("#select_hand3").val($(this).html());
   	                        setTimeout(function () {
   	                            $('#position3').css('background', 'url("' + $imageUrl + '") no-repeat left top');
   	                            $('#position3').html($position3 + '<p>3rd position</p>');
   	                        }, 400);
   	                    } else if ($position4 == 0) {
   	                        $("#wager_now #position4").show();
   	                        $(this).effect("transfer", { to: $("#position4") }, 500);
   	                        $position4 = $(this).html();
                            $("#select_hand4").val($(this).html());
							
   	                        setTimeout(function () {
   	                            $('#position4').css('background', 'url("' + $imageUrl + '") no-repeat left top');
   	                            $('#position4').html($position4 + '<p>4th position</p>');
   	                        }, 400);
   	                    }
   	                } else {
   	                    $('#error_message p').html('You must select only ' + $count + ' hand');
   	                    $("#error_message").fadeIn(1000);
   	                    $("#backgroundPopup").show();
   	                }
   	            }
   	            if (!$total) {					
					if( $count > 1){
						$("#on_off").show();						
					}else{
						$("#on_off").hide();					
						$('.iphone-style').removeClass("on");
						$('.iphone-style').addClass("off");
						$('#on-off').val('0');
					}	
   	                $("#hide_your_bet").hide("slow", function () { });
   	                $("#hide_wager_button").hide("slow", function () { });
   	            }
   	            if ($total == $count) {
   	                //$("#wager_now #your_hands").hide();
   	            }
   	        });

   	        $("#error_message #close").click(function () {
   	            $('#error_message p').css('top', '650px');
				$("#error_message").fadeOut(500);
				$("#backgroundPopup").hide();				
			});	
			
			$("#levels_popup #close").click(function(){				
				$("#levels_popup").fadeOut(500);
				$("#backgroundPopup").hide();
				
			});		
			$(".level_crossed").click(function(){				
				if ($('.c_level').html() == '1'){					
					$( "#all_levels .level1" ).addClass( "current-level" );
					$( "#all_levels .level2" ).addClass( "locked_levels" );
					$( "#all_levels .level3" ).addClass( "locked_levels" );
					$( "#all_levels .level4" ).addClass( "locked_levels" );
					$( "#all_levels .level5" ).addClass( "locked_levels" );
				}else if ($('.c_level').html() == '2'){
					$( "#all_levels .level1" ).addClass( "level-completed" );
					$( "#all_levels .level2" ).addClass( "current-level" );
					$( "#all_levels .level3" ).addClass( "locked_levels" );
					$( "#all_levels .level4" ).addClass( "locked_levels" );
					$( "#all_levels .level5" ).addClass( "locked_levels" );
				}else if ($('.c_level').html() == '3'){
					$( "#all_levels .level1" ).addClass( "level-completed" );
					$( "#all_levels .level2" ).addClass( "level-completed" );
					$( "#all_levels .level3" ).addClass( "current-level" );
					$( "#all_levels .level4" ).addClass( "locked_levels" );
					$( "#all_levels .level5" ).addClass( "locked_levels" );
				}else if ($('.c_level').html() == '4'){
					$( "#all_levels .level1" ).addClass( "level-completed" );
					$( "#all_levels .level2" ).addClass( "level-completed" );
					$( "#all_levels .level3" ).addClass( "level-completed" );
					$( "#all_levels .level4" ).addClass( "current-level" );
					$( "#all_levels .level5" ).addClass( "locked_levels" );
				}else if ($('.c_level').html() == '5'){
					$( "#all_levels .level1" ).addClass( "level-completed" );
					$( "#all_levels .level2" ).addClass( "level-completed" );
					$( "#all_levels .level3" ).addClass( "level-completed" );
					$( "#all_levels .level4" ).addClass( "level-completed" );
					$( "#all_levels .level5" ).addClass( "current-level" );
				}else {
					$( "#all_levels .level1" ).addClass( "locked_levels" );
					$( "#all_levels .level2" ).addClass( "locked_levels" );
					$( "#all_levels .level3" ).addClass( "locked_levels" );
					$( "#all_levels .level4" ).addClass( "locked_levels" );
					$( "#all_levels .level5" ).addClass( "locked_levels" );
				}

				$("#levels_popup").fadeIn(1000);
				$("#backgroundPopup").show();								
			});	
			
			
			$("#get_more_chips #close").click(function(){
				$('#get_more_chips').stop().css("top", "200px");			
				$("#get_more_chips").fadeOut(500);
				$("#backgroundPopup").hide();
				
			});		
			$(".getmore").click(function(){
				$("#get_more_chips").fadeIn(1000);
				$("#backgroundPopup").show();				
				var $scrollbar = $("#scrollbar1");
				$scrollbar.tinyscrollbar();
			});	
			
			$("#achievements_popup #close").click(function(){
				$("#achievements_popup").fadeOut(500);
				$("#backgroundPopup").hide();
				
			});

            /*profile info*/
			$(".profilepic").click(function(){
				

				$.ajax({
				    type: 'Post',
				    url: '@Url.Action("myprofile","WagerBoard")',

				    content: "application/json; charset=utf-8",

			        success: function (data) {

			          // alert(data.coinbal);
			            $("#user_chips span").html(data.chipbal);
			            $(".profilecoin").html(data.coinbal);

			            $("#my_profile").fadeIn(1000);
			            $("#backgroundPopup").show();


			        },
                 });
			});				
			
			$("#my_profile #close").click(function(){
				$("#my_profile").fadeOut(500);
				$("#backgroundPopup").hide();
				
			});							
			
			$("#resultboard #close").click(function () {
			  
				$("#resultboard").hide();
				$("#backgroundPopup").hide();
				
			});	
			$(".get_bonus").click(function(){
				$("#shop_now").fadeIn(1000);
				$("#backgroundPopup").show();	
				var $scrollbar = $("#scrollbar2");
				$scrollbar.tinyscrollbar();				
			});


   	        /* show score*/
			$("#your_score").click(function(){
				$("#your_score_popup").fadeIn(1000);
				$("#backgroundPopup").show();				
			});				
			
			$("#your_score_popup #close").click(function(){
				$("#your_score_popup").fadeOut(500);
				$("#backgroundPopup").hide();
				
			});

            /*score pop up*/
			$(".your_score").click(function () {
			   
			    $("#your_score_popup").fadeIn(1000);
			    $("#backgroundPopup").show();
			    $.ajax({
			        type: 'Get',
			        url: '@Url.Action("Scoreboard","WagerBoard")',
                
                     

                success: function (data) {

                  //  alert(data);
                    $(".score").html(data);
                   
                  


                },
                });

			});

			
			$("#shop_now #close").click(function(){
				$("#shop_now").fadeOut(500);
			$("#backgroundPopup").hide();
				
			});	
			$(".invite_friend").click(function () {
			    $("#mfs").html("");
				$("#invite_frdn_popup").fadeIn(1000);
				$("#backgroundPopup").show();				
			});				
			
			$("#invite_frdn_popup #close").click(function(){
				$("#invite_frdn_popup").fadeOut(500);
				$("#backgroundPopup").hide();
				
			});		
			$(".awards").click(function(){
				$("#achievements_popup").fadeIn(1000);
				$("#backgroundPopup").show();				
			});	
   	        $(".range").change(function () {
   	            $("#select_chips").val($(this).val());
   	        });
   	        $('.backs a').click(function () {
				$("#on_off").hide();
				$('.iphone-style').removeClass("on");
				$('.iphone-style').addClass("off");
				$('#on-off').val('0'); 
				
   	            $("#hide_board").show("slow", function () { });
   	            $("#hide_your_bet").show("slow", function () { });
				jQuery('#your_bet').css('background-image', 'url(../Images/gamewindow/place-your-bet.png)');				
   	            $('.range, #dollar').css('top', '51px');
				$('#multiply, #total_dollar').hide();
				$("#hide_wager_button").show("slow", function () { });
   	            $('#board div').removeClass("active");
   	            $('.submenu').removeClass("active");
   	            $("#board div").hide();
   	            $("#wager_now div").hide("slow", function () { });
   	            $("#select_hand1").val('');
   	            $("#select_hand2").val('');
   	            $("#select_hand3").val('');
   	            $("#select_hand4").val('');
   	            $("#select_chips").val('');
   	            $("#select_bettype").val('');
   	        });
   	    });

        </script>
      
      <!-- Wager Now Click Button-->
    <script>
   	    $(document).ready(function () {
   	        $('#newback').click(function () {
				$("#hide_board").show("slow", function () { });
   	            $("#hide_your_bet").show("slow", function () { });
				jQuery('#your_bet').css('background-image', 'url(../Images/gamewindow/place-your-bet.png)');
				$('.range, #dollar').css('top', '51px');
				$('#multiply, #total_dollar').hide();
				$("#on_off").hide();					
				$('.iphone-style').removeClass("on");
				$('.iphone-style').addClass("off");
				$('#on-off').val('0');
   	            $("#hide_wager_button").show("slow", function () { });
   	            $('#board div').removeClass("active");
   	            $('.submenu').removeClass("active");
   	            $("#board div").hide();
   	            $("#wager_now div").hide("slow", function () { });
   	            $("#select_hand1").val('');
   	            $("#select_hand2").val('');
   	            $("#select_hand3").val('');
   	            $("#select_hand4").val('');
   	            $("#select_chips").val('');
   	            $("#select_bettype").val('');
				$('#wagerme').stop().css("position", "absolute").animate({ left: -740}, 1000);				
				setTimeout(function(){
					$('#wager_start').stop().animate({ left: 0 }, 1000)
				}, 1);
			});
   	        $('#wager_now').click(function () {
				if ($('#chipbal').html() >= 60){
					$('#wager_start').stop().animate({ left: 775 }, 1000);					
					setTimeout(function(){
						$('#wagerme').stop().css("position", "relative").animate({ left: 0 }, 1000)
					}, 1);
				}else{
					$('#get_more_chips').stop().css("top", "600px");
					$("#get_more_chips").fadeIn(1000);
					$("#backgroundPopup").show();				
					var $scrollbar = $("#scrollbar1");
					$scrollbar.tinyscrollbar();
				}				
   	        });
   	    });

        </script>


      <!-- Gift button display-->
    
    <script>
   	    $(document).ready(function () {
   	        $('.gift_board li').mouseenter(function () {
   	            $(this).find('div').stop().animate({ top: 0 }, 500);
   	        }).mouseleave(function () {
   	            $(this).find('div').stop().animate({ top: 75 }, 500);
   	        });
			$('#gamewindow,#acheivement,#tournament').bind('contextmenu', function(e) {
				return false;
			}); 	
   	    });

        </Script>

      <!-- Level Script-->

    <script>
   	    $(document).ready(function () {
   	        $(function () {
   	            $('.get_bonus, .your_score, .level_crossed, .game-no-time').hover(function () {
   	                $(this).stop().animate({ width: "72px", left: "16px" }, 200);
   	            }, function () {
   	                $(this).stop().animate({ width: "64px", left: "25px" }, 200);
   	            });
   	        });
   	        $(function () {
   	            $('.like, .home').hover(function () {
   	                $(this).stop().animate({ width: "40px", left: "49px" }, 200);
   	            }, function () {
   	                $(this).stop().animate({ width: "30px", left: "59px" }, 200);
   	            });
   	        });
   	    });
	</script>	

      <!-- Page Loader-->

	<script type="text/javascript">//<![CDATA[ 
	    $(window).load(function () { });
	    $(window).bind("load", function () {
	        $('#dvLoading').fadeOut(2000);
	    });
	</script>

      <!--Send Gift Button-->
    <script type="text/javascript">
        $(function () {
            $('.sendgift').jrumble();

            var demoStart = function () {
                $('.sendgift').trigger('startRumble');
                setTimeout(demoStop, 300);
            };

            var demoStop = function () {
                $('.sendgift').trigger('stopRumble');
                setTimeout(demoStart, 300);
            };

            demoStart();
        });
	</script>

  <!-- Facebook Configuration-->

    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '@GlobalFacebookConfiguration.Configuration.AppId', // App ID
              status: true, // check login status
              cookie: true, // enable cookies to allow the server to access the session
              xfbml: true  // parse XFBML
          });
      };

      // Load the SDK Asynchronously
      (function (d) {
          var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
          if (d.getElementById(id)) { return; }
          js = d.createElement('script'); js.id = id; js.async = true;
          js.src = "//connect.facebook.net/en_US/all.js";
          ref.parentNode.insertBefore(js, ref);
      }(document));
  </script>

      <!-- Fuctions-->

    <script>
        /* send facebook invite multi*/

        function sendChallenge() {
           
                FB.ui({
                    method: 'apprequests',
                    title: 'Post Time Poker Challenge!',
                    message: 'Win your Chips',
                    data: '50 points'
                }, fbCallback);
            
           
        }

        function fbCallback(response) {
            console.log(response);
        }

        

        function sendRequest() {
            // Get the list of selected friends
            var sendUIDs = '';
            var mfsForm = document.getElementById('mfsForm');
            for (var i = 0; i < mfsForm.friends.length; i++) {
                if (mfsForm.friends[i].checked) {
                    sendUIDs += mfsForm.friends[i].value + ',';
                }
            }

            // Use FB.ui to send the Request(s)
            FB.ui({
                method: 'apprequests',
                to: sendUIDs,
                title: 'My Great Invite',
                message: 'Check out this Awesome App!',
            }, callback);
        }

        function callback(response) {
            console.log(response);
        }


        function renderMFS() {
            // First get the list of friends for this user with the Graph API
            FB.api('/me/friends', function (response) {
                var container = document.getElementById('mfs');
                var mfsForm = document.createElement('form');
                mfsForm.id = 'mfsForm';

                // Iterate through the array of friends object and create a checkbox for each one.
                for (var i = 0; i < Math.min(response.data.length, 50000) ; i++) {
                    var friendItem = document.createElement('div');
                    friendItem.id = 'friend_' + response.data[i].id;
                    friendItem.innerHTML = '<input type="checkbox" name="friends" value="'
                      + response.data[i].id
                      + '" />' + response.data[i].name;
                    mfsForm.appendChild(friendItem);
                }
                container.appendChild(mfsForm);

                // Create a button to send the Request(s)
                var sendButton = document.createElement('input');
                sendButton.type = 'button';
                sendButton.value = 'Send Request';
                sendButton.onclick = sendRequest;
                mfsForm.appendChild(sendButton);
            });
        }
    </script>
    
      <!-- Odds Display-->
     <script type="text/javascript">
         $(function () {
             setInterval(function () { $('#contributors').load('/PostTimePoker/wagerboard/GetOdds'); }, 6000); // every 3 sec

         });

        
      </script>


		<script>
			$(document).ready(function() {
				$("#content .tab").hide(); // Initially hide all content
				$("#tabs li:first").attr("id","current"); // Activate first tab
				$("#content .tab:first").fadeIn(); // Show first tab content    
				$('#tabs a').click(function(e) {
					e.preventDefault();
					if ($(this).closest("li").attr("id") == "current"){ //detection for current tab
					 return       
					}
					else{             
					$("#content .tab").hide(); //Hide all content
					$("#tabs li").attr("id",""); //Reset id's
					$(this).parent().attr("id","current"); // Activate this
					$('#' + $(this).attr('name')).fadeIn(); // Show content for current tab
					}
				});
			});

            </Script>
   
    <!-- Your Bets-->
    
     <script>
		/* Your Bets*/	
			$(document).ready(function() {
			    $('#show_your_bets').click(function () {
			        $('#bets').html(" ");
			        $('#bets').html('<img src="../Images/3.GIF" style="position: absolute; left: 221px; top: 132px;"/>');
			        
			        $.ajax({
			            type: 'Get',												
			            url: '@Url.Action("Score","WagerBoard")',
	                        success: function (data) {							
								if( $('#bets').html(data)){
									var $scrollbar = $("#scrollbar3");
									$scrollbar.tinyscrollbar();	
								}								
	                        },
                     });

			       
					$('#show_your_bets_popup').show();		
					
					$('#backgroundPopup').show();								
					$('#show_your_bets_popup').stop().animate({width:505, height:300, left:130, top:675}, 800);
					
				});
				$('#show_your_bets_popup #close').click(function () {
					$('#show_your_bets_popup').stop().animate({width:109, height:55, left:430, top:1094}, 800);
					setTimeout(function() {
						$('#show_your_bets_popup').hide();
						$('#backgroundPopup').hide();								
					}, 800);					
				});
			});			
		</script>
	
  
</head>
<body> 
      <!--Facebook Intialization-->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '@GlobalFacebookConfiguration.Configuration.AppId', // App ID
                status: true, // check login status
                cookie: true, // enable cookies to allow the server to access the session
                xfbml: true, // parse XFBML
                version: 'v2.0'
            });
        };

        // Load the SDK Asynchronously
        (function (d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));
  </script>	
		<script>
			$(document).ready(function() {
				$("#sample-checkbox-2").FancyCheckbox();					
				$( ".iphone-style" ).toggle(function() {
					$('#on-off').val('1');
					jQuery('#your_bet').css('background-image', 'url(../Images/gamewindow/place-your-bet2.png)');
					$('.range, #dollar').css('top', '26px');
					$('#multiply, #total_dollar').show();						
					$ncount =1;
					for ( $i = $count; $i >= 1; $i-- ) {
						$ncount = $ncount * $i;
					}					
					$('#multiply span').html($ncount);	
					$mtotal = $('.range').val() * $ncount;
					
					
					$('#total_dollar span').html($mtotal);											
				}, function() {
					$('#on-off').val('0');
					jQuery('#your_bet').css('background-image', 'url(../Images/gamewindow/place-your-bet.png)');
					$('.range, #dollar').css('top', '51px');					
					$('#multiply, #total_dollar').hide();
				});
				$('.range').change(function(){ 
					$ncount =1;
					for ( $i = $count; $i >= 1; $i-- ) {
						$ncount = $ncount * $i;
					}	
					$mtotal = $('.range').val() * $ncount;
					$('#total_dollar span').html($mtotal);											
				});
				
				
			});			
		</script>	
    
        @RenderBody()   
	
	
</body>
</html>