﻿@using Microsoft.AspNet.Mvc.Facebook
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
     <title>@ViewBag.Title - Post Time Poker</title>
     @Scripts.Render("~/bundles/jsjquery")
     @Scripts.Render("~/bundles/jsjquerymin")
    
    @Scripts.Render("~/bundles/jstabslider")
   
   @Styles.Render("~/Content/cssnormalize")
    @Styles.Render("~/Content/csstabstyle")
    @Styles.Render("~/Content/cssone")
 

   	<script type="text/javascript">
   	    $(document).ready(function () {
   	        $(".sendgift").toggle(function () {
   	            $('.result_board').animate({ left: -515 }, 800);
   	            $('.gift_board').animate({ left: 7 }, 1000);
   	        }, function () {
   	            $('.result_board').animate({ left: 0 }, 1000);
   	            $('.gift_board').animate({ left: 515 }, 800);
   	        });
   	    });
   	    $(document).ready(function () {
   	        $("#wager_now div").hide();
   	        $("#board div").hide();
   	        $('.submenu').click(function () {
   	            $("#select_bettype").val($(this).html());
   	            $("#wager_now div").hide();
   	            $("#board div").hide();
   	            $("#hide_your_bet").show("slow", function () { });
   	            $("#hide_wager_button").show("slow", function () { });
   	            $('#board div').removeClass("active");
   	            if ($(this).html() == 'EXACTA') {
   	                $total = 2;
   	            } else if ($(this).html() == 'TRIFECTA') {
   	                $total = 3;
   	            } else if ($(this).html() == 'SUPERFECTA') {
   	                $total = 4;
   	            } else {
   	                $total = 1;
   	            }
   	            $count = $total;
   	            $position1 = "0";
   	            $position2 = "0";
   	            $position3 = "0";
   	            $position4 = "0";
   	            $('#position1').html('');
   	            $('#position2').html('');
   	            $('#position3').html('');
   	            $('#position4').html('');
   	            $('#position1').css('background', 'none');
   	            $('#position2').css('background', 'none');
   	            $('#position3').css('background', 'none');
   	            $('#position4').css('background', 'none');
   	            $("#select_hand1").val('');
   	            $("#select_hand2").val('');
   	            $("#select_hand3").val('');
   	            $("#select_hand4").val('');
   	            $("#select_chips").val('');
   	            $('.submenu').removeClass("active");
   	            $("#hide_board").hide("slow", function () { });;
   	            $(this).addClass("active");
   	            setTimeout(function () { jQuery("#board .hand1").show("slow", function () { }); }, 200);
   	            setTimeout(function () { jQuery("#board .hand2").show("slow", function () { }); }, 300);
   	            setTimeout(function () { jQuery("#board .hand3").show("slow", function () { }); }, 400);
   	            setTimeout(function () { jQuery("#board .hand4").show("slow", function () { }); }, 500);
   	            setTimeout(function () { jQuery("#board .hand5").show("slow", function () { }); }, 600);
   	            setTimeout(function () { jQuery("#board .hand6").show("slow", function () { }); }, 700);
   	            setTimeout(function () { jQuery("#board .hand7").show("slow", function () { }); }, 800);
   	            setTimeout(function () { jQuery("#board .hand8").show("slow", function () { }); }, 900);
   	            setTimeout(function () { jQuery("#board .hand9").show("slow", function () { }) }, 1000);
   	            setTimeout(function () { jQuery("#board .hand10").show("slow", function () { }); }, 1100);
   	            setTimeout(function () { jQuery("#board .hand11").show("slow", function () { }); }, 1200);
   	            setTimeout(function () { jQuery("#board .hand12").show("slow", function () { }); }, 1300);
   	        });
   	        $("#board div").click(function () {
   	            if ($(this).is('.active')) {
   	                $(this).removeClass("active");
   	                $total = $total + 1;
   	                $("#hide_your_bet").show("slow", function () { });
   	                $("#hide_wager_button").show("slow", function () { });
   	                if ($(this).html() == $position1) {
   	                    $position1 = 0;
   	                    $("#position1").effect("transfer", { to: $(this) }, 500);
   	                    $("#wager_now #position1").hide();
   	                    setTimeout(function () {
   	                        $('#position1').html('');
   	                        $("#select_hand1").val('');
   	                        $('#position1').css('background', 'none');
   	                    }, 400);
   	                } else if ($(this).html() == $position2) {
   	                    $position2 = 0;
   	                    $("#position2").effect("transfer", { to: $(this) }, 500);
   	                    $("#wager_now #position2").hide();
   	                    setTimeout(function () {
   	                        $('#position2').html('');
   	                        $("#select_hand2").val('');
   	                        $('#position2').css('background', 'none');
   	                    }, 400);
   	                } else if ($(this).html() == $position3) {
   	                    $position3 = 0;
   	                    $("#position3").effect("transfer", { to: $(this) }, 500);
   	                    $("#wager_now #position3").hide();
   	                    setTimeout(function () {
   	                        $('#position3').html('');
   	                        $("#select_hand3").val('');
   	                        $('#position3').css('background', 'none');
   	                    }, 400);
   	                } else if ($(this).html() == $position4) {
   	                    $position4 = 0;
   	                    $("#position4").effect("transfer", { to: $(this) }, 500);
   	                    $("#wager_now #position4").hide();
   	                    setTimeout(function () {
   	                        $('#position4').html('');
   	                        $("#select_hand4").val('');
   	                        $('#position4').css('background', 'none');
   	                    }, 400);
   	                }
   	            } else {
   	                if ($total) {
   	                    $(this).removeClass("active");
   	                    $(this).addClass("active");
   	                    $total = $total - 1;
   	                    $imageUrl = "../Images/gamewindow/hand.png"
   	                    if ($position1 == 0) {
   	                        $("#wager_now #your_hands").show();
   	                        $("#wager_now #position1").show();
   	                        $(this).effect("transfer", { to: $("#position1") }, 500);
   	                        $position1 = $(this).html();
                            $("#select_hand1").val($(this).html());							
   	                        setTimeout(function () {
   	                            $('#position1').css('background', 'url("' + $imageUrl + '") no-repeat left top');
   	                            $('#position1').html($position1 + '<p>1st position</p>');
   	                        }, 400);
   	                    } else if ($position2 == 0) {
   	                        $("#wager_now #position2").show();
   	                        $(this).effect("transfer", { to: $("#position2") }, 500);
   	                        $position2 = $(this).html();
                            $("#select_hand2").val($(this).html());
   	                        setTimeout(function () {
   	                            $('#position2').css('background', 'url("' + $imageUrl + '") no-repeat left top');
   	                            $('#position2').html($position2 + '<p>2nd position</p>');
   	                        }, 400);
   	                    } else if ($position3 == 0) {
   	                        $("#wager_now #position3").show();
   	                        $(this).effect("transfer", { to: $("#position3") }, 500);
   	                        $position3 = $(this).html();
                            $("#select_hand3").val($(this).html());
   	                        setTimeout(function () {
   	                            $('#position3').css('background', 'url("' + $imageUrl + '") no-repeat left top');
   	                            $('#position3').html($position3 + '<p>3rd position</p>');
   	                        }, 400);
   	                    } else if ($position4 == 0) {
   	                        $("#wager_now #position4").show();
   	                        $(this).effect("transfer", { to: $("#position4") }, 500);
   	                        $position4 = $(this).html();
                            $("#select_hand4").val($(this).html());
							
   	                        setTimeout(function () {
   	                            $('#position4').css('background', 'url("' + $imageUrl + '") no-repeat left top');
   	                            $('#position4').html($position4 + '<p>4th position</p>');
   	                        }, 400);
   	                    }
   	                } else {
   	                    $('#error_message p').html('You must select only ' + $count + ' hand');
   	                    $("#error_message").fadeIn(1000);
   	                    $("#backgroundPopup").show();
   	                }
   	            }
   	            if (!$total) {
   	                $("#hide_your_bet").hide("slow", function () { });
   	                $("#hide_wager_button").hide("slow", function () { });
   	            }
   	            if ($total == $count) {
   	                $("#wager_now #your_hands").hide();
   	            }
   	        });

   	        $("#error_message #close").click(function(){
				$("#error_message").fadeOut(500);
				$("#backgroundPopup").hide();
				
			});	
			$("#levels_popup #close").click(function(){				
				$("#levels_popup").fadeOut(500);
				$("#backgroundPopup").hide();
				
			});		
			$(".level_crossed").click(function(){
				$("#levels_popup").fadeIn(1000);
				$("#backgroundPopup").show();								
			});	
			$("#get_more_chips #close").click(function(){
				$('#get_more_chips').stop().css("top", "200px");			
				$("#get_more_chips").fadeOut(500);
				$("#backgroundPopup").hide();
				
			});		
			$(".getmore").click(function(){
				$("#get_more_chips").fadeIn(1000);
				$("#backgroundPopup").show();				
			});	
   	        $(".range").change(function () {
   	            $("#select_chips").val($(this).val());
   	        });
   	        $('.backs a').click(function () {
   	            $("#hide_board").show("slow", function () { });
   	            $("#hide_your_bet").show("slow", function () { });
   	            $("#hide_wager_button").show("slow", function () { });
   	            $('#board div').removeClass("active");
   	            $('.submenu').removeClass("active");
   	            $("#board div").hide();
   	            $("#wager_now div").hide("slow", function () { });
   	            $("#select_hand1").val('');
   	            $("#select_hand2").val('');
   	            $("#select_hand3").val('');
   	            $("#select_hand4").val('');
   	            $("#select_chips").val('');
   	            $("#select_bettype").val('');
   	        });
   	    });
   	     $(document).ready(function () {
			 $('#newback').click(function () {
				 $("#hide_board").show("slow", function () { });
   	            $("#hide_your_bet").show("slow", function () { });
   	            $("#hide_wager_button").show("slow", function () { });
   	            $('#board div').removeClass("active");
   	            $('.submenu').removeClass("active");
   	            $("#board div").hide();
   	            $("#wager_now div").hide("slow", function () { });
   	            $("#select_hand1").val('');
   	            $("#select_hand2").val('');
   	            $("#select_hand3").val('');
   	            $("#select_hand4").val('');
   	            $("#select_chips").val('');
   	            $("#select_bettype").val('');
				$('#wagerme').stop().css("position", "absolute").animate({ left: -740}, 1000);
				setTimeout(function(){
					$('#wager_start').stop().animate({ left: 0 }, 1000)
				}, 1);
			});
   	        $('#wager_now').click(function () {
				if ($('#chipbal').html() >= 1){
					$('#wager_start').stop().animate({ left: 775 }, 1000);
					setTimeout(function(){
						$('#wagerme').stop().css("position", "relative").animate({ left: 0 }, 1000)
					}, 1);
				}else{
					$('#get_more_chips').stop().css("top", "600px");
					$("#get_more_chips").fadeIn(1000);
					$("#backgroundPopup").show();				
					var $scrollbar = $("#scrollbar1");
					$scrollbar.tinyscrollbar();
				}				
   	        });
   	    });
   	    $(document).ready(function () {
   	        $('.gift_board li').mouseenter(function () {
   	            $(this).find('div').stop().animate({ top: 0 }, 500);
   	        }).mouseleave(function () {
   	            $(this).find('div').stop().animate({ top: 75 }, 500);
   	        });
			$('#gamewindow,#acheivement,#tournament').bind('contextmenu', function(e) {
				return false;
			}); 	
   	    });
   	    $(document).ready(function () {
   	        $(function () {
   	            $('.get_bonus, .your_score, .level_crossed').hover(function () {
   	                $(this).stop().animate({ width: "72px", left: "16px" }, 200);
   	            }, function () {
   	                $(this).stop().animate({ width: "64px", left: "25px" }, 200);
   	            });
   	        });
   	        $(function () {
   	            $('.like').hover(function () {
   	                $(this).stop().animate({ width: "40px", left: "49px" }, 200);
   	            }, function () {
   	                $(this).stop().animate({ width: "30px", left: "59px" }, 200);
   	            });
   	        });
   	    });
	</script>	
	<script type="text/javascript">//<![CDATA[ 
	    $(window).load(function () { });
	    $(window).bind("load", function () {
	        $('#dvLoading').fadeOut(2000);
	    });
	</script>
    <script type="text/javascript">
        $(function () {
            $('.sendgift').jrumble();

            var demoStart = function () {
                $('.sendgift').trigger('startRumble');
                setTimeout(demoStop, 300);
            };

            var demoStop = function () {
                $('.sendgift').trigger('stopRumble');
                setTimeout(demoStart, 300);
            };

            demoStart();
        });
	</script>
	<style>
		p{
			padding-bottom: 10px;
		}
	</style>
</head>
<body> 
    
        @RenderBody()   
	
	
</body>
</html>