﻿@font-face { 
	font-family: 'Copperplate Gothic Bold'; 
	src: url('../font/copperplate_gothic_bold.eot'); 
	src: url('../font/copperplate_gothic_bold.eot?#iefix') format('embedded-opentype'), url('../font/copperplate_gothic_bold.svg#Copperplate Gothic Bold') format('svg'), url('../font/copperplate_gothic_bold.woff') format('woff'), url('../font/copperplate_gothic_bold.ttf') format('truetype'); 
	font-weight: normal; 
	font-style: normal;
}
@font-face { 
	font-family: 'Digital 7'; 
	src: url('../font/digital_7.eot'); src: url('../font/digital_7.eot?#iefix') format('embedded-opentype'), url('../font/digital_7.svg#Digital 7') format('svg'), url('../font/digital_7.woff') format('woff'), url('../font/digital_7.ttf') format('truetype'); 
	font-weight: normal; 
	font-style: normal;
}
@font-face { 
	font-family: 'Cooper Std Black'; 
	src: url('../font/cooper_std_black.eot'); 
	src: url('../font/cooper_std_black.eot?#iefix') format('embedded-opentype'), url('../font/cooper_std_black.svg#Cooper Std Black') format('svg'), url('../font/cooper_std_black.woff') format('woff'), url('../font/cooper_std_black.ttf') format('truetype'); 
	font-weight: normal; 
	font-style: normal;
}
html {
    margin: 0;
    padding: 0;
}
p {
    margin:0;
    padding:0;
}
a {
    outline: none !important;
}
a, img {
    border:none;
    outline:none !important;
}
body {	
    color: #333333;
    font-family: "Segoe UI",Verdana,Helvetica,Sans-Serif;
    font-size: 0.85em;
    margin: 0 auto;    
    padding: 0;
   /* width: 760px !important;*/   
}
#gameboard {
	background-image:url(../Images/home.jpg);
	background-color: #FFFFFF;
    background-position: center top;
    background-repeat: no-repeat;        
    color: #333333;
    font-family: "Segoe UI",Verdana,Helvetica,Sans-Serif;
    font-size: 0.85em;
    margin: 0 auto;
    min-height: 1190px;
    padding: 0;
    width: 760px;  
	position:relative;	
}

#gamewindow {	
	background-image:url(../Images/gamewindow/screen-2-bg.jpg);
	background-color: #FFFFFF;
    background-position: center top;
    background-repeat: no-repeat;        
    color: #333333;
    font-family: "Segoe UI",Verdana,Helvetica,Sans-Serif;
    font-size: 0.85em;
    margin: 0 auto;
    min-height: 1190px;
    padding: 0;
    width: 760px;  
	position:relative;	
	overflow: hidden;
}
#gameboard #wager-now{
	background:url(../Images/wager-now.png) no-repeat left top;
	height: 90px;
    left: 345px;
    position: absolute;
    top: 543px;
    width: 170px;
	cursor:pointer;
	padding-top: 13px;
	padding-left: 100px;
	display: inline-block;
}
#gameboard #wager-now:hover , #gameboard #tournaments:hover, #gameboard #unlock-achievements:hover{
	z-index: 100;
	position: relative;
	-moz-transform: rotate(-2deg) scale(1.1);
	-webkit-transform: rotate(-2deg) scale(1.1);
	transform: rotate(-2deg) scale(1.1);
	-o-transform: rotate(-2deg) scale(1.1);
	-ms-transform: rotate(-2deg) scale(1.1);
}
#gameboard #tournaments{
	background:url(../Images/tournaments.png) no-repeat left top;
	height: 90px;
    left: 345px;
    position: absolute;
    top: 660px;
    width: 200px;
	cursor:pointer;
	padding-top: 13px;
	padding-left: 96px;
	display: inline-block;
}
#gameboard #unlock-achievements{
	background:url(../Images/unlock-achievements.png) no-repeat left top;
	height: 90px;
    left: 345px;
    position: absolute;
    top: 708px;
    width: 195px;
	cursor:pointer; 	
	padding-left: 100px;
	display: inline-block;
}

a {
	color: #fff;
    outline: medium none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
}

    a:link, a:visited,
    a:active, a:hover {        
    }

    a:hover {        
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }



/*Leader Board Table*/
#ldr_table
 {
	border: medium none;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    left: 30px;
    position: absolute;
    text-align: left;
    top: 57px;
    width: 300px;
    margin-left: 10px;

}
#ldr_tables tr{
	border-bottom: 1px solid #212121;
}
#ldr_table td, #ldr_tables td{
	width:50%
}
#ldr_tables
 {
	 border: medium none;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    /*position: absolute;*/
	margin-left:15px;
    text-align: left;
    width: 300px;
    left: 15px;

}
#leaderlist {
    height: 204px;
    left: 11px; 
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    top: 100px;
    width: 385px;
}

.ldr_td {
	padding: 3px;

}


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

#body {
    background-color: #efeeef;
    clear: both;
    padding-bottom: 35px;
}

    .main-content {
        background: url("../Images/accent.png") no-repeat;
        padding-left: 10px;
        padding-top: 30px;
    }

    .featured + .main-content {
        background: url("../Images/heroAccent.png") no-repeat;
    }

header .content-wrapper {
    padding-top: 20px; 
}
    
footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
}


/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
}


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin-left: 0px;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

        ul#menu li a:hover {
            color: #333;
            text-decoration: none;
        }


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }

        .featured hgroup.title h1, .featured hgroup.title h2 {
            color: #fff;
        }

        .featured p {
            font-size: 1.1em;
        }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
    text-align: center;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

fieldset.open-auth-providers {
    margin-top: 15px;
}

    fieldset.open-auth-providers button {
        margin-bottom: 12px;
    }
    
/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }
    
    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

    label {
        display: block;
        font-size: 1.2em;
        font-weight: 600;
    }

    label.checkbox {
        display: inline;
    }

    input, textarea {
        border: 1px solid #e2e2e2;
        background: #fff;
        color: #333;
        font-size: 1.2em;
        margin: 5px 0 6px 0;
        padding: 5px;
        width: 300px;
    }

    textarea {
        font-family: inherit;
        width: 500px;
    }
    
        input:focus, textarea:focus {            
        }

        input[type="checkbox"] {
            background: transparent;
            border: inherit;
            width: auto;
        }
        
    input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 4px;
    }

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

/* tables
----------------------------------------------------------*/
/*#orderoffinish table {
    border: 1px solid;
 border-spacing: 0 ; 
  padding: 18px; 
  margin-left: -18px;
  width: 293px; 
 font-size: 10px; 
  height: 128px; 

}
    */

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th {
	font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
        
    }

	th a:link, th a:visited, th a:active, th a:hover {
		color: #333;
		font-weight: 600;
		text-decoration: none;
        padding: 0;
	}

	th a:hover {
		color: #000;
	}

    th.asc a, th.desc a {
        margin-right: .75em;
    }
    
    th.asc a:after, th.desc a:after {
		display: block;
        position: absolute;
        right: 0em;
        top: 0;
        font-size: 0.75em;
	}

	th.asc a:after {
		content: '?';
	}

	th.desc a:after {
		content: '?';
	}

td {
    /*padding: 0.25em 2em 0.25em 0em;*/
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

        #login a:hover {
            color: #333;
        }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

     /* features */
     section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }

    
    
    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }

    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}
/* END: Mobile Styles */

#liquid1 .wrapper, #liquid1 ul{
	height: 191px !important;
}
#liquid1{
	top: 833px;
    height: 191px !important;
    position: absolute;
    right: 15px;
}	
.liquid {		
	padding:10px 0;
}
#invitetext {
    color: #FFFFFF;
    font-family: 'Copperplate Gothic Bold';
    font-size: 15px;
    font-weight: bold;
    padding-right: 10px;
    text-align: center;
}
.liquid .previous {
	background-image: url(../images/frnd/left-arrow.png);
    background-position: center center;
    background-repeat: no-repeat;
	cursor:pointer;
    display: block;
    float: left;
    height: 191px;
    margin: 0;
    padding: 0;
    width: 25px;
}
.liquid .next {
	background-image:url(../images/frnd/right-arrow.png);
	float:right;
	background-position: center center;
    background-repeat: no-repeat;
    cursor:pointer;
	display: block;    
    height: 191px;
    margin: 0;
    padding: 0;
    width: 25px;
}
.liquid ul li a {
	display: inline-block;
    margin: 0 5px 0 auto;
    text-align: center;
}
.liquid ul li {
	width:118px;
	padding:10px 2px 0 10px;
	height: 191px !important;
	margin:0;
	background:url(../images/frnd/invite-friend-bg.png) no-repeat left top;
	
}
.liquid ul li a img {
	-moz-box-shadow: 5px 5px 3px #222;
   	-webkit-box-shadow: 5px 5px 3px #222;
   	box-shadow: 5px 5px 3px #222;
}
#userprofile {
    height: 160px;
    left: 23px;
    overflow: hidden;
    position: absolute;
    top: 857px;
}

#gamewindow	{
	color: #fff;    
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
}	
  
#gamewindow .getmore{
	background:url(../images/gamewindow/get-more-chips.png) no-repeat left top;
	height: 29px;
    left: 105px;
    padding-left: 35px;
    padding-top: 4px;
    position: absolute;
    top: 152px;
	cursor:pointer;
}
#gamewindow .invite_friend{
	background:url(../images/gamewindow/invite-friends.png) no-repeat left top;
	height: 25px;
    left: 265px;
    padding-left: 53px;
    padding-top: 2px;
    position: absolute;
    top: 155px;
	cursor:pointer;
}
#gamewindow .awards{
	background:url(../images/gamewindow/awards.png) no-repeat left top;
	height: 25px;
    left: 430px;
    padding-left: 33px;
    padding-top: 3px;
    position: absolute;
    top: 154px;
	cursor:pointer;
}
#gamewindow .help{
	background:url(../images/gamewindow/help.png) no-repeat left top;
	height: 34px;
    left: 580px;
    padding-left: 42px;
    padding-top: 6px;
    position: absolute;
    top: 151px;
	cursor:pointer;
}
#gamewindow .setting{
	background:url(../images/gamewindow/settings.png) no-repeat left top;
	height: 40px;
    left: 672px;
    padding-left: 50px;
    position: absolute;
    top: 148px;
	cursor:pointer;
}
#gamewindow .home a{
	width:100%;
	height:100%;
	display:inline-block;
}
#gamewindow .home{
	background: url(../images/gamewindow/home.png) no-repeat scroll left top ;
    cursor: pointer;
    font-size: 15px;
    height: 34px;
    left: 59px;
    line-height: 15px;
    position: absolute;
    text-align: center;
    top: 190px;
    width: 30px;	
}
#gamewindow .get_bonus{
	background:url(../images/gamewindow/get-bonus-hover.png) no-repeat left top;
	cursor: pointer;
    height: 26px;
    left: 25px;
    line-height: 15px;
    padding-top: 50px;
    position: absolute;
    text-align: center;
    top: 226px;
    width: 64px;
	font-size:15px;
}
#gamewindow .your_score{
	background:url(../images/gamewindow/your-score-hover.png) no-repeat left top;
	cursor: pointer;
    height: 38px;
    left: 25px;
    line-height: 15px;
    padding-top: 38px;
    position: absolute;
    text-align: center;
    top: 305px;
    width: 64px;
	font-size:15px;
}
#gamewindow .level_crossed span{
	color:#000;
	font-size:21px;
}
#gamewindow .level_crossed{
	background:url(../images/gamewindow/level-crossed.png) no-repeat left top;
	cursor: pointer;
    font-size: 15px;
    height: 60px;
    left: 25px;
    line-height: 15px;
    padding-top: 15px;
    position: absolute;
    text-align: center;
    top: 384px;
    width: 64px;
}

#gamewindow .like{
	background:url(../images/gamewindow/like-hover.png) no-repeat left top;
	cursor: pointer;
    font-size: 15px;
    height: 30px;
    left: 59px;
    line-height: 15px;
    position: absolute;
    text-align: center;
    top: 469px;
    width: 30px;
}
#gamewindow .game-no-time{
	background:url(../images/gamewindow/game-no-time.png) no-repeat left top;
	cursor: pointer;
    font-size: 12px;
    height: 105px;
    left: 25px;
    line-height: 15px;
    padding-top: 13px;
    position: absolute;
    text-align: center;
    top: 517px;
    width: 64px;
}
#tournament .game-no-time{
	background:url(../images/tournament/time-left-tournaments.png) no-repeat left top;
	cursor: pointer;
    font-size: 12px;
    height: 105px;
    left: 25px;
    line-height: 15px;
    padding-top: 13px;
    position: absolute;
    text-align: center;
    top: 517px;
    width: 64px;
}
.timeleft{
	color: #FBAF3F;
    margin-top: 10px;
 }
#dvLoading {
	background:url(../Images/ajax_preloader.gif) no-repeat scroll center 250px #fff;				
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 2147483647;
}		
.game-no-time p {
    line-height: 20px;
    padding-left: 4px;
    text-align: center;
}
.timeleft span, .gameno span{
	font-family: 'Digital 7'; 
	font-size:23px;
}	
#profilepic  p , #user_pic p {
    height: 65px;
    width: 65px;
    overflow: hidden;
    margin-bottom: 5px;
}
#gamewindow  #profilepic {
    font-family: arial;
    font-size: 13px;
    left: 95px;
    line-height: 14px;
    position: absolute;
    text-align: center;
    top: 522px;
    width: 71px;
	cursor:pointer;
}
#result {
	/*height: 110px;
    left: 173px;
    overflow: hidden;
    position: absolute;
    top: 517px;  */
	background: url(../Images/result-box.png) no-repeat scroll left top;
    height: 110px;
    left: 173px;
    overflow: hidden;
    position: absolute;
    top: 517px;
    background-position: -86px -20px;
    width: 557px;
    height: 145px;
		
}
#result table .green{
	background:#91c13d;
	width:15px;
}
#result table .lightgrey{
	background:#cdcccc
}

#result table .win, #result table .place, #result table .show{
	background:url(../Images/green-gradient.png) repeat-x top left;
	width:40px;
}

#result table .exacta, #result table .trifecta, #result table .superfecta{
	background:url(../Images/red-gradient.png) repeat-x top left;
	width:80px;
}
#result table .wagers{
	background:url(../Images/blue-gradient.png) repeat-x top left;
	width:140px;
}
#result table .w50{
	width:50px;
}
#result table .w25{
	width:25px;
}
#result table .w42{
	width:40px;
}
#result table .blank{
	background:#000;
	border:none
}
#result table .darkgrey{
	background:#585858;
	color:#fff !important;
}

#result table td, #result table th{
	 border: 1px solid #858484;
    font-weight: normal;
    padding: 2px;
    text-align: center;
	color:#252525;
	font-family: arial;
}
#result table th{
	padding:0px;
	  font-weight: bold;
}
#result table{
	font-size: 9px;
    position: relative;
    top: 15px;
    width: 100%;
	left:5px;
}
#result .title {
    font-family: arial;
    font-size: 11px;
    font-weight: normal;
    left: 15px;
    position: absolute;
    top: 2px;
}

#gamewindow #result_board {	
    height: 110px;
    left: 173px;
    overflow: hidden;
    position: absolute;
    top: 517px;
    width: 506px;
}
#result_board .title {
    font-family: arial;
    font-size: 11px;
    font-weight: normal;
    left: 15px;
    position: absolute;
    top: 2px;
}


#hand {
    color: #F16F01;
    font-size: 11px;
    font-weight: normal;
}

.orderoffinish {
    color: #F16F01;
    font-size: 11px;
    font-weight: normal;
}
#hand .hand1 {left: 19px; top: 23px;}
#hand .hand2 {left: 19px; top: 45px;}
#hand .hand3 {left: 19px; top: 67px;}
#hand .hand4 {left: 19px; top: 89px;}

#hand .hand5 {left: 79px; top: 23px;}
#hand .hand6 {left: 79px; top: 45px;}
#hand .hand7 {left: 79px; top: 67px;}
#hand .hand8 {left: 79px; top: 89px;}

#hand .hand9 {left: 145px; top: 23px;}
#hand .hand10 {left: 139px; top: 45px;}
#hand .hand11 {left: 140px; top: 67px;}
#hand .hand12 {left: 139px; top: 89px;}


#hand .hand {
    font-weight: bold;
    padding-top: 3px;
    position: absolute;
}
#payoffs{
	font-size:9px;
}

#payoffs .win {
   color: #91C13D;
    left: 230px;
    position: absolute;
    top: 36px;
}
#payoffs .place {
    color: #91C13D;
    left: 219px;
    position: absolute;
    top: 58px;
}

#payoffs .show {
    color: #91C13D;
    left: 220px;
    position: absolute;
    top: 79px;
}
#payoffs .exacta {
    color: #FF5050;
    left: 300px;
    position: absolute;
    top: 36px;
}
#payoffs .tri {
    color: #FF5050;
    left: 318px;
    position: absolute;
    top: 58px;
}

#payoffs .super {
   color: #FF5050;
    left: 301px;
    position: absolute;
    top: 79px;
}
#payoffs .four_kind {
    color: #21BFEE;
    left: 405px;
    position: absolute;
    top: 36px;
}
#payoffs .straight_flush {
   color: #21BFEE;
    left: 381px;
    position: absolute;
    top: 58px;
}

#payoffs .high_flop {
    color: #21BFEE;
    left: 409px;
    position: absolute;
    top: 79px;
}
#gamewindow .sendgift:hover {
	background:url(../images/gamewindow/send-a-gift-hover.png) no-repeat left top;
}
#gamewindow .sendgift {
	background:url(../images/gamewindow/send-a-gift.png) no-repeat left top;
	cursor: pointer;
    font-family: arial;
    font-size: 11px;
    font-weight: normal;
    height: 58px;
    left: 690px;
    padding-top: 55px;
    position: absolute;
    text-align: center;
    top: 517px;
    width: 40px;
	color:#fff;
}
#payoffs  p {
	margin-top: -3px !important;
}
#hand  p, #payoffs  p {
    background: none repeat scroll 0 0 #CDCCCC;
    color: #252525;
    float: right;
    font-weight: normal;
    height: 15px;
    margin-left: 5px;
    padding-top: 2px;
    text-align: center;
    width: 40px;
	font-size:11px;
	margin-top: -2px;
}
#gamewindow #board, #gamewindow #board2{
	background:url(../images/gamewindow/board.png) no-repeat left top;
	height: 316px;
    left: 145px;
    position: absolute;
    top: 640px;
    width: 591px;
}
#gamewindow #hide_board{
	background:url(../images/gamewindow/board-grey.png) no-repeat left top;
	height: 316px;
    left: 145px;
    position: absolute;
    top: 640px;
    width: 591px;
	z-index: 3;
}
#board div{
	background:url(../images/gamewindow/hands.png) no-repeat scroll 0 -83px;
	cursor: pointer;
    font-size: 19px;
    height: 42px !important;
    left: 60px;
    padding-top: 39px;
    position: absolute;
    text-align: center;
    top: 85px;
    width: 82px !important;
}
#board div:hover, #board .active{
	background-position:0px -1px;	
	color:#692206;
}

#play_board .hand1{	
	cursor: pointer;
    height: 79px;
    left: 60px;
    position: absolute;
    top: 85px;
    width: 85px;
}
#play_board .hand2{	
	cursor: pointer;
    height: 79px;
    left: 137px;
    position: absolute;
    top: 85px;
    width: 85px;
}
#play_board .hand3{	
	cursor: pointer;
    height: 79px;
    left: 215px;
    position: absolute;
    top: 85px;
    width: 85px;
}
#play_board .hand4{	
	cursor: pointer;
    height: 79px;
    left: 294px;
    position: absolute;
    top: 85px;
    width: 85px;
}
#play_board .hand5{	
	cursor: pointer;
    height: 79px;
    left: 373px;
    position: absolute;
    top: 85px;
    width: 85px;
}

#play_board .hand6{	
	cursor: pointer;
    height: 79px;
    left: 451px;
    position: absolute;
    top: 85px;
    width: 85px;
}
#play_board .hand7{	
	cursor: pointer;
    height: 79px;
    left: 60px;
    position: absolute;
    top: 181px;
    width: 85px;
}
#play_board .hand8{	
	cursor: pointer;
    height: 79px;
    left: 137px;
    position: absolute;
    top: 181px;
    width: 85px;
}
#play_board .hand9{	
	cursor: pointer;
    height: 79px;
    left: 215px;
    position: absolute;
    top: 181px;
    width: 85px;
}
#play_board .hand10{	
	cursor: pointer;
    height: 79px;
    left: 294px;
    position: absolute;
    top: 181px;
    width: 85px;
}
#play_board .hand11{	
	cursor: pointer;
    height: 79px;
    left: 373px;
    position: absolute;
    top: 181px;
    width: 85px;
}
#play_board .hand12{	
	cursor: pointer;
    height: 79px;
    left: 451px;
    position: absolute;
    top: 181px; 
    width: 85px;
}

#your_bet{
	background:url(../images/gamewindow/place-your-bet.png) no-repeat left top;	
	height: 105px;
    left: 23px;
    position: absolute;
    top: 935px;
    width: 100%;
}
#hide_your_bet{
	background:url(../images/gamewindow/place-your-bet-grey.png) no-repeat left top;	
	height: 105px;
    left: 23px;
    position: absolute;
    top: 935px;
    width: 100%;
	z-index:3;
}

#position1,#position2,#position3,#position4{
	/*background:url(../images/gamewindow/hand.png) no-repeat left top;	*/
	color: #772C0D;
    font-size: 15px;
    height: 64px;
    left: 35px;
    padding-top: 43px;
    position: absolute;
    text-align: center;
    top: 1075px;
    width: 88px;
}

#position1{
    left: 30px;
    top: 1068px
}
#position2{
    left: 128px;
    top: 1068px;
}
#position3{
    left: 228px;
    top: 1068px;
}
#position4{
    left: 328px;
    top: 1068px;
}
#wager_button{	
	background:url(../images/your-bets/wager-now-button.png) no-repeat left top;	
	  border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Cooper Std Black';
    font-size: 22px;
    height: 70px;
    left: 547px;
    letter-spacing: 2.2px;
    padding-top: 0;
    position: absolute;
    text-align: center;
    top: 1089px;
    width: 194px;
}
#hide_wager_button{	
	background:url(../images/your-bets/wager-now-button-grey.png) no-repeat left top;	
	color: #FFFFFF;    
    font-family: 'Cooper Std Black';
    font-size: 22px;
    height: 70px;
    left: 547px;
    letter-spacing: 2.2px;
    padding-top: 18px;
    position: absolute;
    text-align: center;
    top: 1088px;
    width: 194px;
}
#your_hands{		
	/*color: #FFFFFF;
    font-family: arial;
    font-size: 13px;
    left: 33px;
    position: absolute;
    text-align: left;
    top: 1048px;*/
	
	color: #ffffff;
    font-family: arial;
    font-size: 13px;
    left: -44px;
    position: absolute;
    text-align: left;
    top: 5px;
}


/* slider root element */
.slider {
	background: none repeat scroll 0 0 #B6121C;
	background:url(../Images/gamewindow/scroller.png) no-repeat 0 0;
	clear: right;
    cursor: pointer;
    float: left;
    height: 12px;
    left: 145px;
    margin-top: 9px;
    position: relative;
    top: 47px;
    width: 426px;
}

/* progress bar (enabled with progress: true) */
.progress {
    height:9px;
    background-color:#C5FF00;
    display:none;
    opacity:0.6;
}

/* drag handle */
.handle {
    background:url(../Images/gamewindow/$.png) no-repeat 0 0;
    height:32px;
    width:33px;
    top:-12px;
    position:absolute;
    display:block;
    margin-top:1px;    
    cursor:move;
}
#tab2 img {
    margin-left: 12px;
}

/* the input field */
#multiply , #total_dollar{
	display:none;
}
.range, #dollar, #multiply , #total_dollar{
    background: transparent;    
    border: medium none;
    color: #E9B501;
    font-family: arial;
    font-size: 18px;
    left: 607px;
    position: absolute;
    text-align: left;
    top: 39px;
    width: 75px;
}
.range{
	margin: 0;
    padding: 0;
    top: 51px;
    left: 615px;
    width: 60px;
}
#total_chips {    
	border: medium none;
    color: #E9B501;
    font-family: arial;
    font-size: 18px;
    left: 45px;
    position: absolute;
    text-align: left;
    top: 50px;
    width: 75px;
}
#total_chips_text {    
	border: medium none;
    color: #E9B501;
    font-family: arial;
    font-size: 11px;
    left: 47px;
    position: absolute;
    text-align: left;
    top: 81px;
    width: 75px;
}
#total_chips_start, #total_chips_end{    
	border: medium none;
    color: #FFFFFF;
    font-family: arial;
    font-size: 11px;
    left: 148px;
    position: absolute;
    text-align: left;
    top: 81px;
    width: 75px;
}
#total_chips_end{    
	left:545px
}
#dollar{
	left: 602px;
    top: 51px;
}
#wagerme{
	left:-740px;	    
    position: absolute;
}
#wager_start{
	position: absolute;
}
#bet_button:hover{
	background-position:0 -36px;
}	
#bet_button{	
	background:url(../Images/gamewindow/bet-button.png) no-repeat 0 0;
	 cursor: pointer;
    height: 37px;
    left: 615px;
    position: absolute;
    top: 45px;
    width: 74px;	
}	
#gameloader  img {
    left: 470px;
    position: absolute;
    top: 320px;
    width: 90px;
}
#gameloader{
	/*background: url(../Images/new-loader.png) no-repeat scroll center top;*/
	background: url(../Images/waiting-for-the-result.png) no-repeat scroll center top;
    height: 470px;
    position: absolute;
    top: 655px;
    width: 100%;
}
#wager_start #wager_now:hover{
	z-index: 100;
	position: relative;
	-moz-transform: rotate(-2deg) scale(1.1);
	-webkit-transform: rotate(-2deg) scale(1.1);
	transform: rotate(-2deg) scale(1.1);
	-o-transform: rotate(-2deg) scale(1.1);
	-ms-transform: rotate(-2deg) scale(1.1);
}
#wager_start #wager_now{	
	background:url(../Images/gamewindow/wager-now-button.png) no-repeat 0 0;
	 cursor: pointer;
    font-family: 'Cooper Std Black';
    font-size: 22px;
    height: 70px;
    padding-left: 55px;
    padding-top: 30px;
    position: absolute;
    top: 715px;
    width: 200px;
	left:20px;
}
#wager_start #leaderboard{
	background:url(../Images/gamewindow/leaderboard-bg-1.png) no-repeat 0 0;
	height: 404px;
    left: 335px;
    position: absolute;
    top: 670px;
    width: 404px;
	padding-left:15px;
}
#bet_title{ 
	font-size: 13px;
    left: 10px;    
    position: absolute;
    top: 13px;
}	
#wager_now p{
	 color: #FFFFFF;
    font-size: 11px;
    top: 86px;
    position: absolute;
    left: 11px;
}
.result_board{
	position:relative;
}
.ui-effects-transfer {
	 z-index:5 ;
	background:url(../images/gamewindow/hand.png) no-repeat scroll left center;
}
#gift_board_outer{
	display: none; 
	overflow: hidden; 
	position: absolute; 
	z-index: 39; 
	background:url(../Images/result-box.png) no-repeat scroll -86px -20px ; 
	top: 517px; 
	height: 107px; 
	left: 173px; 
	width: 513px;
	
}
.gift_board{
	background:url(../images/gift/gifts-bg.png) no-repeat scroll left center;
	height: 77px;
	left: 515px;    
    position: absolute;
    top: 26px;
    width: 499px;
    z-index: 21;
}
.gift_board li #button:hover{
	background-position:0 19px;
}
.gift_board li #button{
	background:url(../images/gift/send-button.png) repeat scroll left top;
	height: 19px;
    margin: 0 auto;
    width: 38px;
}
.gift_board li div{
	background:url(../images/gift/red-hover-repeat.png) repeat scroll left center;
  font-size: 10px;
    height: 69px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 75px;
    width: 70px;
}
.gift_board li {
    cursor: pointer;
    float: left;
    height: 75px;
    margin-left: 8px;
    margin-top: 4px;
    overflow: hidden;
    position: relative;
    width: 74px;
}
#sendgift {
    left: 690px;
    position: absolute;
    top: 517px;
}
#newback {
	background:url(../images/back-button.png) no-repeat left top;
	cursor: pointer;
	width:60px;
	height:22px;
	z-index: 10;
}
#newback:hover{
	background:url(../images/back-button-hover.png) no-repeat left top;
	cursor: pointer;
	width:60px;
	height:22px;
	z-index: 10;
}
#newback {
    left: 680px;
    position: absolute;
    top: 662px;
}
/*************************************How to Play*************************/
#howtoplay {	
	background-image:url(../Images/howtoplay/how-to-play-images.jpg);
	background-color: #FFFFFF;
    background-position: center top;
    background-repeat: no-repeat;        
    color: #333333;
    font-family: "Segoe UI",Verdana,Helvetica,Sans-Serif;
    font-size: 0.85em;
    margin: 0 auto;
    min-height: 1190px;
    padding: 0;
    width: 760px;  
	position:relative;	
	overflow: hidden;
}
#howtoplay  #mainmenu {	
	left: 27px;
    padding: 0;
    position: absolute;
    top: 203px;
}
#howtoplay #mainmenu li a:hover, #howtoplay #mainmenu li.active{	
	background-position:0 -28px;
	color:#efc701; 
	left:-13px;
}
#howtoplay  #mainmenu li{	
	background:url(../Images/howtoplay/menu.png) no-repeat left top;
	cursor:pointer;
	color: #FFFFFF;
    font-family: 'Copperplate Gothic Bold';
    font-size: 18px;
    height: 29px;
    line-height: 30px;
    list-style: none outside none;
    padding-left: 35px;
	letter-spacing: 1.1px;
	margin-bottom: 5px;
}
#howtoplay  #subheading {
	font-family: 'Copperplate Gothic Bold' !important;
	font-size: 15px !important;
	color:#efc701 !important;
}
#howtoplay h1 {
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Copperplate Gothic Bold';
    font-size: 20px;
    left: 51px;
    letter-spacing: 1.1px;
    line-height: 30px;
    position: absolute;
    top: 331px;
}
#howtoplay  ul {
	margin:0;
	padding:0;
}
#howtoplay  ul li{
	  line-height: 15px;
    list-style: none outside none;
    margin-bottom: 16px;
}
#howtoplay #content p, #howtoplay #content  ul li{
	color:#fff;
	font-family:arial;
	font-size: 13px;
	line-height:17px;
}
#howtoplay  #content{
	position: absolute; left: 55px; top: 391px; width: 650px;
}
#howtoplay .info{
	border-right: 1px solid #23451D;
    float: left;
    height: 250px;
    margin-bottom: 15px;
    margin-right: 15px;
    padding-right: 15px;
    width: 196px;
}
#gamewindow  #leaderboard #title{
    font-family: copperplate gothic bold;
    font-size: 20px;
    font-weight: normal;
    left: 15px;
    position: absolute;
    top: 10px;
}
/*************************************How to Play*************************/
/*************************************tournament*************************/
#tournament {	
	background-image:url(../Images/tournament/tournaments-bg.jpg);
	background-color: #FFFFFF;
    background-position: center top;
    background-repeat: no-repeat;        
    color: #333333;
    font-family: "Segoe UI",Verdana,Helvetica,Sans-Serif;
    font-size: 0.85em;
    margin: 0 auto;
    min-height: 1190px;
    padding: 0;
    width: 760px;  
	position:relative;	
	overflow: hidden;
}
#tournament  #wager-now{
	background:url(../Images/wager-now.png) no-repeat left top;
	height: 90px;
    left: 345px;
    position: absolute;
    top: 480px;
    width: 170px;
	cursor:pointer;
	padding-top: 13px;
	padding-left: 100px;
}
#tournament #wager-now:hover , #tournament #tournaments:hover, #tournament #unlock-achievements:hover{
	z-index: 100;
	position: relative;
	-moz-transform: rotate(-2deg) scale(1.1);
	-webkit-transform: rotate(-2deg) scale(1.1);
	transform: rotate(-2deg) scale(1.1);
	-o-transform: rotate(-2deg) scale(1.1);
	-ms-transform: rotate(-2deg) scale(1.1);
}
#tournament #tournaments{
	background:url(../Images/tournaments.png) no-repeat left top;
	height: 90px;
    left: 345px;
    position: absolute;
    top: 595px;
    width: 200px;
	cursor:pointer;
	padding-top: 13px;
	padding-left: 96px;
}
#tournament #unlock-achievements{
	background:url(../Images/unlock-achievements.png) no-repeat left top;
	height: 90px;
    left: 345px;
    position: absolute;
    top: 708px;
    width: 195px;
	cursor:pointer; 	
	padding-left: 100px;
}

#tournament	{
	color: #fff;    
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
}	
  
#tournament .getmore{
	background:url(../images/gamewindow/get-more-chips.png) no-repeat left top;
	height: 29px;
    left: 105px;
    padding-left: 35px;
    padding-top: 4px;
    position: absolute;
    top: 152px;
	cursor:pointer;
}
#tournament .invite_friend{
	background:url(../images/gamewindow/invite-friends.png) no-repeat left top;
	height: 25px;
    left: 265px;
    padding-left: 53px;
    padding-top: 2px;
    position: absolute;
    top: 155px;
	cursor:pointer;
}
#tournament .awards{
	background:url(../images/gamewindow/awards.png) no-repeat left top;
	height: 25px;
    left: 430px;
    padding-left: 33px;
    padding-top: 3px;
    position: absolute;
    top: 154px;
	cursor:pointer;
}
#tournament .help{
	background:url(../images/gamewindow/help.png) no-repeat left top;
	height: 34px;
    left: 580px;
    padding-left: 42px;
    padding-top: 6px;
    position: absolute;
    top: 151px;
	cursor:pointer;
}
#tournament .setting{
	background:url(../images/gamewindow/settings.png) no-repeat left top;
	height: 40px;
    left: 672px;
    padding-left: 50px;
    position: absolute;
    top: 148px;
	cursor:pointer;
}

#tournament .home{
	background: url(../images/tournament/home-tournaments.png) no-repeat scroll left top ;
    cursor: pointer;
    font-size: 15px;
    height: 34px;
    left: 59px;
    line-height: 15px;
    position: absolute;
    text-align: center;
    top: 190px;
    width: 30px;	
}
#tournament .get_bonus{
	background:url(../images/tournament/get-bonus.png) no-repeat left top;
	cursor: pointer;
    height: 26px;
    left: 25px;
    line-height: 15px;
    padding-top: 50px;
    position: absolute;
    text-align: center;
    top: 226px;
    width: 64px;
	font-size:15px;
}
#tournament .your_score{
	background:url(../images/tournament/your-score.png) no-repeat left top;
	cursor: pointer;
    height: 38px;
    left: 25px;
    line-height: 15px;
    padding-top: 38px;
    position: absolute;
    text-align: center;
    top: 305px;
    width: 64px;
	font-size:15px;
}
#tournament .level_crossed span{
	color:#000;
	font-size:21px;
}
#tournament .level_crossed{
	background:url(../images/tournament/days-to-bet.png) no-repeat left top;
	cursor: pointer;
    font-size: 15px;
    height: 60px;
    left: 25px;
    line-height: 15px;
    padding-top: 15px;
    position: absolute;
    text-align: center;
    top: 384px;
    width: 64px;
}
#tournament .like{
	background:url(../images/gamewindow/like-hover.png) no-repeat left top;
	cursor: pointer;
    font-size: 15px;
    height: 30px;
    left: 59px;
    line-height: 15px;
    position: absolute;
    text-align: center;
    top: 469px;
    width: 30px;
}
#tournament  #profilepic {
    font-family: arial;
    font-size: 13px;
    left: 95px;
    line-height: 14px;
    position: absolute;
    text-align: center;
    top: 522px;
    width: 71px;
	cursor:pointer;
}

#tournament #result_board {	
     height: 110px;
    left: 173px;
    overflow: hidden;
    position: absolute;
    top: 517px;
    width: 506px;
}
#tournament #board, #tournament #board2{
	background:url(../images/gamewindow/board.png) no-repeat left top;
	height: 316px;
    left: 145px;
    position: absolute;
    top: 640px;
    width: 591px;
}
#tournament #hide_board{
	background:url(../images/gamewindow/board-grey.png) no-repeat left top;
	height: 316px;
    left: 145px;
    position: absolute;
    top: 640px;
    width: 591px;
	z-index: 3;
}
#tournament  #leaderboard #title{
    font-family: copperplate gothic bold;
    font-size: 20px;
    font-weight: normal;
    left: 15px;
    position: absolute;
    top: 8px
}
#tournament  .sendgift:hover {
	background:url(../images/tournament/send-a-gift-hover.png) no-repeat left top;
}
#tournament  .sendgift {
	background:url(../images/tournament/send-a-gift.png) no-repeat left top;
	cursor: pointer;
    font-family: arial;
    font-size: 11px;
    font-weight: normal;
    height: 58px;
    left: 690px;
    padding-top: 55px;
    position: absolute;
    text-align: center;
    top: 517px;
    width: 40px;
	color:#480D01;
}
#tournament ul.tab-nav li:hover {
	background:url(../images/tournament/wagering-buttons-hover.png) no-repeat left top;    
}
#tournament ul.tab-nav li {
	background:url(../images/tournament/wagering-buttons.png) no-repeat left top;    
	height: 65px;
    margin: 0;
    padding: 0;
    width: 95px;
	cursor:pointer;
}
#tournament ul.tab-nav li  .active{
	background:url(../images/tournament/wagering-buttons-selected.png) no-repeat left top;    
}
#tournament #your_bet{
	background:url(../images/tournament/place-your-bet.png) no-repeat left top;	
	height: 105px;
    left: 23px;
    position: absolute;
    top: 935px;
    width: 100%;
}
#tournament #hide_your_bet{
	background:url(../images/tournament/place-your-bet-grey.png) no-repeat left top;	
	height: 105px;
    left: 23px;
    position: absolute;
    top: 935px;
    width: 100%;
	z-index:3;
}
#tournament #result_board .title, #tournament ul.tab-nav li a{
	color:#480d01;
}
#tournament #wager_start #leaderboard{
	background:url(../Images/tournament/leaderboard.png) no-repeat 0 0;
	height: 404px;
    left: 335px;
    position: absolute;
    top: 670px;
    width: 404px;
}
#error_message{	
	background:url(../Images/tournament/error-message.png) no-repeat 0 0;
	height: 260px;
    left: 255px;
    position: absolute;
    top: 650px;
    width: 250px;
    z-index: 1002;
	display:none;
	color: #FFFFFF;
}
#error_message a{
	background:url(../Images/tournament/ok.png) no-repeat 0 0;	
	display: inline-block;
    height: 36px;
    margin-left: 74px;
    text-align: center;
    width: 96px;
	cursor:pointer;
}
#error_message  p {
    font-family: copperplate gothic bold;
    font-size: 12px;
    font-weight: normal;
    margin-top: 135px;
    padding: 22px 22px 10px;
    text-align: center;
    text-transform: uppercase;
}
#chip_balance{
	display:none;
}
#chip_balance, #invite_frnd{	
	background:url(../Images/error-msg-box-new.png) no-repeat 0 0;
	color: #FFFFFF;    
    height: 200px;
    left: 210px;
    position: absolute;
    top: -200px;
    width: 350px;
    z-index: 1002;
}
#chip_balance a, #invite_frnd a{
	background:url(../Images/tournament/ok.png) no-repeat 0 0;	
	cursor: pointer;
    display: inline-block;
    height: 36px;
    margin-left: 125px;
    text-align: center;
    width: 96px;
}
#chip_balance  p, #invite_frnd  p {
    font-family: copperplate gothic bold;
    font-size: 12px;
    font-weight: normal;
    margin-top: 55px;
    padding: 22px 25px 10px;
    text-align: center;
    text-transform: uppercase;
}
#backgroundPopup {
    background: url(../Images/black-70.png) repeat center center;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
	
}
/*************************************tournament*************************/
/*************************************achievement*************************/
#acheivement {	
	background-image:url(../Images/acheivement/achievements-bg.jpg);
	background-color: #FFFFFF;
    background-position: center top;
    background-repeat: no-repeat;        
    color: #333333;
    font-family: "Segoe UI",Verdana,Helvetica,Sans-Serif;
    font-size: 0.85em;
    margin: 0 auto;
    min-height: 1190px;
    padding: 0;
    width: 760px;  
	position:relative;	
	overflow: hidden;
}
#acheivement  #leaderboard .line{
	background:url(../Images/acheivement/lines-repeat.png) repeat-x 0 0;
	height: 15px;
    width: 355px;
}
#star_badge .coins,
 #triplets_badge .coins,
 #flushed_badge .coins,
 #exactly_badge .coins
{
	position: absolute;
    top: 19px;
    left: 268px;
    color: #FFA226;
    font-size: 20px;
}

#star_badge p,
#triplets_badge p,
 #flushed_badge p,
 #exactly_badge p
{
	 width: 150px;
	font-weight: normal;
    font-size: 13px;
    font-family: arial;
}
#star_badge .title,
#triplets_badge .title,
 #flushed_badge .title,
 #exactly_badge .title
{
	color: #FFA226;
    font-family: arial;
    font-size: 21px;
    font-weight: normal;
    padding-top: 4px;
}
#star_badge{
	background:url(../Images/acheivement/star-badge-new.png) no-repeat  0 0;
}
 #triplets_badge{
	background:url(../Images/acheivement/triplets-badge-new.png) no-repeat  0 0;
}
#flushed_badge{
	background:url(../Images/acheivement/flushed-badge-new.png) no-repeat  0 0;
}
 #exactly_badge{
	background:url(../Images/acheivement/exactly-badge-new.png) no-repeat  0 0;
}

#star_badge,
 #triplets_badge,
 #flushed_badge,
 #exactly_badge
{	
	height: 100px;
    left: 45px;
    padding-left: 95px;
    position: relative;
    top: 62px;
    width: auto;
}
#acheivement  #leaderboard #title{
    font-family: copperplate gothic bold;
    left: 15px;
    position: absolute;
    font-weight: normal;
    font-size: 15px;
    top: 15px;
}

#acheivement .title {
    font-family: copperplate gothic bold;
    font-size: 16px;
    font-weight: normal;
    left: 10px;
    position: absolute;
    top: 10px;
}

#acheivement	#wager_start #leaderboard{
	background: url(../Images/acheivement/achievement-board.png) no-repeat scroll 0 0 ;
	 height: 410px;
    left: 327px;
    padding-left: 27px;
    padding-top: 65px;
    position: absolute;
    top: 667px;
    width: 381px;
}
#acheivement	{
	color: #fff;    
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
}	
  
#acheivement .getmore{
	background:url(../images/gamewindow/get-more-chips.png) no-repeat left top;
	height: 29px;
    left: 105px;
    padding-left: 35px;
    padding-top: 4px;
    position: absolute;
    top: 152px;
	cursor:pointer;
}
#acheivement .invite_friend{
	background:url(../images/gamewindow/invite-friends.png) no-repeat left top;
	height: 25px;
    left: 265px;
    padding-left: 53px;
    padding-top: 2px;
    position: absolute;
    top: 155px;
	cursor:pointer;
}
#acheivement .awards{
	background:url(../images/gamewindow/awards.png) no-repeat left top;
	height: 25px;
    left: 430px;
    padding-left: 33px;
    padding-top: 3px;
    position: absolute;
    top: 154px;
	cursor:pointer;
}
#acheivement .help{
	background:url(../images/gamewindow/help.png) no-repeat left top;
	height: 34px;
    left: 580px;
    padding-left: 42px;
    padding-top: 6px;
    position: absolute;
    top: 151px;
	cursor:pointer;
}
#acheivement .setting{
	background:url(../images/gamewindow/settings.png) no-repeat left top;
	height: 40px;
    left: 672px;
    padding-left: 50px;
    position: absolute;
    top: 148px;
	cursor:pointer;
}
#acheivement .get_bonus{
	background:url(../images/gamewindow/get-bonus-hover.png) no-repeat left top;
	cursor: pointer;
    height: 38px;
    left: 25px;
    line-height: 15px;
    padding-top: 38px;
    position: absolute;
    text-align: center;
    top: 226px;
    width: 64px;
	font-size:15px;
}
#acheivement .your_score{
	background:url(../images/gamewindow/your-score-hover.png) no-repeat left top;
	cursor: pointer;
    height: 38px;
    left: 25px;
    line-height: 15px;
    padding-top: 38px;
    position: absolute;
    text-align: center;
    top: 305px;
    width: 64px;
	font-size:15px;
}
#acheivement .level_crossed span{
	color:#000;
	font-size:21px;
}
#acheivement .level_crossed{
	background:url(../images/gamewindow/level-crossed.png) no-repeat left top;
	   cursor: pointer;
    font-size: 15px;
    height: 75px;
    left: 25px;
    line-height: 15px;
    padding-top: 5px;
    position: absolute;
    text-align: center;
    top: 384px;
    width: 64px
}
#acheivement .like{
	background:url(../images/gamewindow/like-hover.png) no-repeat left top;
	cursor: pointer;
    font-size: 15px;
    height: 30px;
    left: 59px;
    line-height: 15px;
    position: absolute;
    text-align: center;
    top: 469px;
    width: 30px;
}
#acheivement  #profilepic {
    font-family: arial;
    font-size: 13px;
    left: 95px;
    line-height: 14px;
    position: absolute;
    text-align: center;
    top: 522px;
    width: 71px;
}

#acheivement #result_board {	
    height: 110px;
    left: 173px;
    overflow: hidden;
    position: absolute;
    top: 517px;
    width: 506px;
}
#acheivement .sendgift:hover {
	background:url(../images/gamewindow/send-a-gift-hover.png) no-repeat left top;
}
#acheivement .sendgift {
	background:url(../images/gamewindow/send-a-gift.png) no-repeat left top;
	cursor: pointer;
    font-family: arial;
    font-size: 11px;
    font-weight: normal;
    height: 58px;
    left: 690px;
    padding-top: 55px;
    position: absolute;
    text-align: center;
    top: 517px;
    width: 40px;
	color:#fff;
}
#acheivement #board, #acheivement #board2{
	background:url(../images/gamewindow/board.png) no-repeat left top;
	height: 316px;
    left: 145px;
    position: absolute;
    top: 640px;
    width: 591px;
}
#acheivement #hide_board{
	background:url(../images/gamewindow/board-grey.png) no-repeat left top;
	height: 316px;
    left: 145px;
    position: absolute;
    top: 640px;
    width: 591px;
	z-index: 3;
}

#loader {	
	background-image:url(../Images/acheivement/loader-bg.jpg);
	background-color: #FFFFFF;
    background-position: center top;
    background-repeat: no-repeat;        
    color: #333333;
    font-family: "Segoe UI",Verdana,Helvetica,Sans-Serif;
    font-size: 0.85em;
    margin: 0 auto;
    min-height: 1190px;
    padding: 0;
    width: 760px;  
	position:relative;	
	overflow: hidden;
}
#loader .loader {
	left: 484px;
    position: absolute;
    top: 442px;
}
#loader p {
     color: #FFFFFF;
    font-size: 23px;
    font-weight: bold;
    left: 432px;
    letter-spacing: 1.1px;
    line-height: 33px;
    position: absolute;
    text-align: center;
    top: 287px;
    width: 234px;
	 font-family: arial;
}
/*************************************achievement*************************/

/*************************************get_more*************************/
#get_more_chips{	
	background:url(../Images/get_more/get_more.png) no-repeat 0 0;
	height: 458px;
    left: 130px;
    position: absolute;
    top: 200px;
    width: 477px;
    z-index: 1002;
	display:none
	
}
 #your_score_popup{	
	background:url(../Images/popup-bg-250-height.jpg) no-repeat 0 0;
	height: 250px;
    left: 130px;
    position: absolute;
    top: 200px;
    width: 477px;
    z-index: 1002;
	display:none
	
}
#get_more_chips ul {
	 margin-left: 0;
    margin-top: 0;
    padding: 0;
}
#get_more_chips ul li{
	background:url(../Images/get_more/blue-box.png) no-repeat 0 0;	
	height: 96px;
    list-style: none outside none;
    margin-bottom: 5px;
    position: relative;
    width: 445px;
}
#get_more_chips ul #best_value{
	background:url(../Images/get_more/best-value-box.png) no-repeat 0 0;	
}	

#get_more_chips  .title, #your_score_popup  .title, #levels_popup  .title{
    font-family: copperplate gothic bold;
    font-size: 16px;
    font-weight: normal;
    left: 10px;
    position: absolute;
    top: 10px;
}
#get_more_chips  #button:hover{
	background-position:0 -33px;
}
#get_more_chips  #button{
	background:url(../Images/get_more/buy-buttton.png) no-repeat 0 0;	
    cursor: pointer;
    height: 33px;
    left: 383px;
    position: relative;
    top: 35px;
    width: 50px;;
}
#get_more_chips  #price span{
	font-weight: bold;
	margin-left:4px;
}
#get_more_chips  #price{
	color: #EFC701;
    font-family: arial;
    font-size: 17px;
    font-weight: normal;
    height: 29px;
    left: 300px;
    padding-left: 5px;
    padding-top: 8px;
    position: absolute;
    top: 33px;
    width: 66px;
	background:url(../Images/get_more/amount.png) no-repeat 0 0;	
}
#get_more_chips #chips span{
	font-size:22px;
}
#get_more_chips #chips {
    color: #252525;
    font-family: arial;
    font-size: 11px;
    line-height: 14px;
    position: relative;
    text-align: center;
    top: 64px;
}
#get_more_chips a, #your_score_popup #close{
	background:url(../Images/get_more/close.png) no-repeat 0 0;	
	cursor: pointer;
    display: inline-block;
    float: right;
    height: 36px;
    margin-top: 6px;
    width: 30px;
}
/*************************************get_more*************************/

/*************************************get_more*************************/
#invite_frdn_popup{	
	background:url(../Images/get_more/get_more.png) no-repeat 0 0;
	height: 458px;
    left: 130px;
    position: absolute;
    top: 200px;
    width: 477px;
    z-index: 1002;
	display:none
	
}
#invite_frdn_popup a{
	background:url(../Images/get_more/close.png) no-repeat 0 0;	
	cursor: pointer;
    display: inline-block;
    float: right;
    height: 36px;
    margin-top: 6px;
    width: 30px;
}


#shop_now{	
	background:url(../Images/shop/shop-popup-bg.png) no-repeat 0 0;
	height: 458px;
    left: 130px;
    position: absolute;
    top: 200px;
    width: 477px;
    z-index: 1002;
	display:none
	
}
#shop_now a{
	background:url(../Images/get_more/close.png) no-repeat 0 0;	
	cursor: pointer;
    display: inline-block;
    float: right;
    height: 36px;
    margin-top: 6px;
    width: 30px;
}
#shop_now  #shop_now_title{
    font-family: copperplate gothic bold;
    font-size: 16px;
    font-weight: normal;
    left: 10px;
    position: absolute;
    top: 10px;
}

#shop_now  h1{
	color: #FFFFFF;
    font-family: copperplate gothic bold;
    font-size: 18px;
    font-weight: normal;
    left: 25px;
    position: absolute;
    top: 57px;
}
#shop_now .back-title h1{
	color: #FFFFFF;
    font-family: copperplate gothic bold;
    font-size: 18px;
    font-weight: normal;
    position: static;
    text-align: center;
    font-size: 15px;
    width: 121px;
    padding: 10px;
    margin-top: 55px;
}
#shop_now  #button{
	background: url(../Images/shop/coins-button.png) no-repeat scroll top center ;
    color: #66020A;
    font-family: arial;
    font-size: 13px;
    height: 38px;
    width: 100px;
    margin: 0 auto;
    margin-left: 27px;
    padding-top: 12px;
    text-align: center;
    position: absolute;
    bottom: -15px;
	cursor:pointer;
}
#shop_now #hrtv-subscription{	
	background:	url(../Images/shop/hrtv-subscription.png);
}
#shop_now #santa-anita-clubhouse-race-passes{	
	background:	url(../Images/shop/santa-anita-clubhouse-race-passes.png);
}	
#shop_now #santa-anita-champagne-brunch{	
	background:	url(../Images/shop/santa-anita-champagne-brunch.png);
}	
#shop_now #poker-set{	
	background:	url(../Images/shop/poker-set.png);
}	
#shop_now #playing-cards{	
	background:	url(../Images/shop/playing-cards.png);
}	
#shop_now #fedora-hat{	
	background:	url(../Images/shop/fedora-hat.png);
}	
#shop_now #poker-set, 
#shop_now #playing-cards, 
#shop_now #fedora-hat, 
#shop_now #hrtv-subscription, 
#shop_now #santa-anita-clubhouse-race-passes, 
#shop_now #santa-anita-champagne-brunch{	
	display: inline-block;
    height: 200px;
    width: 140px;
}			
#shop_now  #outer{	
    position: relative;
    left: 22px;
}
#shop_now  p{
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    left: 28px;
    position: absolute;
    top: 98px;
}
#achievements_popup{	
	background:url(../Images/acheivement/achievements-popup-bg.png) no-repeat 0 0;
	height: 458px;
    left: 130px;
    position: absolute;
    top: 200px;
    width: 477px;
    z-index: 1002;
	display:none
	
}
#achievements_popup ul {
	margin-left: 12px;
    margin-top: 56px;
	padding: 0;
}
#achievements_popup ul li{
	background:url(../Images/get_more/get-more-chips-section.png) no-repeat 0 0;	
	display: inline-block;
    height: 184px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    width: 138px;
	position: relative;
}


#achievements_popup  #button:hover{
	background-position:0 -33px;
}
#achievements_popup  #button{
	background:url(../Images/get_more/buy-buttton.png) no-repeat 0 0;	
    cursor: pointer;
    height: 33px;
    left: 74px;
    position: relative;
    top: 87px;
    width: 49px;
}
#achievements_popup  #price span{
	font-weight: bold;
	margin-left:4px;
}
#achievements_popup  #price{
	color: #EFC701;
    font-family: arial;
    font-size: 17px;
    left: 23px;
    position: relative;
    top: 114px;
	 width: 45px;
	 font-weight: normal;
}
#achievements_popup #chips span{
	font-size:11px;
}
#achievements_popup #chips {
    color: #252525;
    font-family: arial;
    font-size: 22px;
    line-height: 14px;
    position: relative;
    text-align: center;
    top: 64px;
}
#achievements_popup a{
	background:url(../Images/get_more/close.png) no-repeat 0 0;	
	cursor: pointer;
    display: inline-block;
    float: right;
    height: 36px;
    margin-top: 6px;
    width: 30px;
}
/*************************************get_more*************************/

.liquid ul li a {
 display: inline-block;
    margin: 0 10px 0 auto;
    text-align: center;
}

.designed-by a {
    background: url(../Images/mb-watermark.png) no-repeat scroll 0 0 ;
    display: inline-block;
    float: right;
    height: 30px;
    text-indent: -9999px;
    width: 90px;
}

.designed-by {
    bottom: 5px;
    left: 324px;
    margin-left: 10px;
    position: absolute;
}
#board2 .win:hover, #board2 .active{
	background:url(../images/field-wagers-selected.png) no-repeat scroll left center !important;
	
}
#board2 .win{
	cursor: pointer;    
    position: absolute;    
	background:url(../images/field-wagers.png) no-repeat scroll left center;
	color: #252525;
    height: 74px !important;
    left: 245px !important;
    padding-top: 35px;
    text-align: center;
    top: 111px !important;
    width: 110px !important;
}
#board2 #field-wagers-bet{
		background:url(../images/field-wagers-bet.png) no-repeat scroll left center;
		 height: 160px;
		left: 205px;
		position: relative;
		top: 60px;
		width: 210px;
}
#board2 .win{
	cursor: pointer;    
    position: absolute;    
	background:url(../images/field-wagers.png) no-repeat scroll left center;
	color: #252525;
    height: 74px !important;
    left: 40px !important;
    padding-top: 35px;
    text-align: center;
    top: 105px !important;
    width: 110px !important;
}
#achievementstitle, #invite_frdn_title{
    font-family: copperplate gothic bold;
    font-size: 16px;
    font-weight: normal;
    left: 10px;
    position: absolute;
    top: 10px;
}

#invite_frdn_popup #mfs {
    left: 13px;
    overflow-y: scroll;
    height: 390px;
    position: relative;
    top: 10px;
    width: 450px;
}

#mfsForm  input {
	margin-right: 10px;
}
#mfsForm > input[type="button"]{
	background: none repeat scroll 0 0 #AA0B16;
    border: medium none;
    border-radius: 11px;
    color: #FFFFFF;
    font-family: arial;
    font-size: 14px;
    padding: 5px;
    box-shadow: 1px 1px 5px #000;
    text-align: center;
    float: right;
}
#mfsForm  div {
     color: #252525;
    display: inline-block;
    font-family: 'Copperplate Gothic Bold';
    font-size: 13px;
    font-weight: normal;
    width: 50%;
}
/*================ScrollPane==========================*/
div.v1_target{
/*	height:auto;
	margin:15px; 
	padding:0px; 
	border:0px solid #0C6; 	  */
}
div.v1_sliderBackground{ 
	background-image:url(../Images/scroller-repeat.png); 
	background-repeat:repeat-y;
	background-position: 8px 0;
}
div.v1_cursor{
	height:21px; 
	width:21px; 
	background-image:url(../Images/cursor.png); 
	background-repeat:no-repeat; 
	background-position: 0px 0;
}
ul.v1_tipsContainer{ 
	 border-left: 1px solid #CCCCCC;
    display: none;
    overflow: visible;
    width: 20px;
}
ul.v1_tipsContainer li{ 
	background-image:url(../Images/indicator.png); 
	background-repeat:no-repeat; 
	background-position:left top; 
	padding:0;
}
ul.v1_tipsContainer span{
	margin-top:0px;
	padding:5px; 
	display:block; 
	width:140px; 
	font-size:12px; 
	color:#fff; 
	background-color:rgb(37,177,241);
}
.tooltip {
	display:none;
	position:absolute;	
	/*background-color:#161616;*/
	background:url(../Images/tooltip.png) no-repeat top center;		
	color:#fff;
	font-size:12px Arial;
	z-index:10001;
	width:250px;
	height:39px;
	text-align:center;
	padding-top:15px;
}

#showodds{
	background:url(../Images/odds.png) no-repeat top left #343434;
	height: 18px;
    left: 88px;
    position: absolute;
    top: 487px;
    width: 646px   
}
#game_video{
		
	height: 277px;
    left: 165px;
    position: absolute;
    top: 200px;
    width: 494px;
}
#showodds > table {
    font-size: 11px;
    margin: 0;
}
#showodds td span{
	color: #f16f01;
}
#showodds td {
    padding-bottom: 2px;
    padding-right: 2px;
    padding-top: 2px;
    text-align: center;
    width: 46px;
    border-right: 1px solid #f16f01;
}
#showodds td:first-child{
	border:none;
}
#my_profile{	
	background:url(../Images/profile/your-profile-bg.png) no-repeat 0 0;
	height: 458px;
    left: 130px;
    position: absolute;
    top: 350px;
    width: 477px;
    z-index: 1002;
	display:none
	
}
#my_profile #user_info{
	position: relative;
    top: 163px;
    padding-left: 20px;
    padding-right: 20px;
}
#my_profile #close{
	background:url(../Images/get_more/close.png) no-repeat 0 0;	
	cursor: pointer;
    display: inline-block;
    float: right;
    height: 36px;
    margin-top: 6px;
    width: 30px;
}
#my_profile  #user_level span, #my_profile  #user_chips span{color:#fff;}
#my_profile  #user_level, #my_profile  #user_chips{
	font-family: arial;
    font-weight: normal;
    color: #EFC701;
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    /*left: 323px;
    top: 8px;*/
}
#my_profile  #user_level{
	background:url(../Images/profile/your-achievements.png) no-repeat top left;
	height:20px;
	padding-left: 27px;
	left: 115px;
	top: 33px;
}
#my_profile  #user_chips{
	background:url(../Images/profile/chip.png) no-repeat top left;
    padding-left: 25px;
    height: 18px;
	/*top: 40px;
    left: 299px;*/
	right: 165px;
	top: 33px;
}
#my_profile  #edit_button{
	background:url(../Images/profile/edit-profile.png) no-repeat top left;	
	position: absolute;
    font-size: 12px;
    font-family: arial;
    font-weight: normal;
    left: 112px;
    height: 32px;
    width: 114px;
    text-align: center;
    padding-top: 12px;
    top: 26px;
    cursor: pointer;
}
#my_profile  #user_name{
	font-size: 17px;
    left: 112px;
    position: absolute;
    font-family: copperplate gothic bold;
}
#my_profile  #user_pic{
	left: 33px;
    position: absolute;
}
#my_profile  #profile_info{
	position: relative;
    top: 64px;
}
#my_profile  #my_profile_title{
    font-family: copperplate gothic bold;
    font-size: 16px;
    font-weight: normal;
    left: 10px;
    position: absolute;
    top: 10px;
}
#my_profile  #content{
	position: absolute;
    top: 46px;
    left: 30px;
}
#my_profile  #tournament_inof span{
	color: #CE4025;
    float: right;
}
#my_profile  #tournament_inof{
	border-bottom: 1px solid #998E7F;
   /* width: 220px;*/
    width: 417px;
    color: #000;
    line-height: 25px;
}
#your_score_popup  #score_info span{
	color: #fff;
    float: right;
}
#your_score_popup .score{
	margin-top: 60px;
}
#your_score_popup  #score_info{
	border-bottom: 1px solid #998E7F;
    color: #000000;
    line-height: 30px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 335px;
}
#my_profile  #frnd_total{
	color: #000000;
    font-family: arial;
    font-weight: normal;
    position: absolute;
    width: 150px;
    font-size: 13px;
    font-weight: bold;
}
#my_profile #frnd_info {
    left: 267px;
    position: absolute;
    top: 0;
}
#my_profile  .frnd_info{
	left: 2px;
    position: relative;
    top: 10px;
    margin-right: 10px;
}
#my_profile  #frnd_pic{
	/*position: absolute;*/
    top: 9px;
}
#my_profile  #frnd_name{
	color: #000000;
    font-size: 13px;
    left: 53px;
    /*position: absolute;*/
    top: 8px;
}
#my_profile  hr{		
	background: #333;
	background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -o-linear-gradient(left, #ccc, #333, #ccc);	
	border: 0 none;
    height: 1px;
    width: 132px;
    margin-top: 15px;
    margin-bottom: 0px;
}
#my_profile  #frnd_coins{
	color: #CE4025;
    font-size: 13px;
    left: 53px;
    /*position: absolute;*/
    top: 25px;
	background:url(../Images/profile/chip.png) no-repeat top left;
	padding-left:25px;
	height:18px; 
}
#tabs{
  overflow: hidden;  
  margin: 0;
  padding: 0;
  list-style: none;
  font-size:20px;
}
#tabs li{
  float: left;
  margin: 0 .5em 0 0;
}
#tabs a{
	color: #FFAC25;
    float: left;
    padding: 0px 25px;
    position: relative;
    text-decoration: none;
    font-weight: normal;
    font-size: 15px;
    border-right: 1px solid #fff;  
}

#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after{  
  color:#FFF;
  text-shadow:none;
}
#tabs a:focus{
  outline: 0;
}
#tabs #current a{  
	color: #FFF;
    text-shadow: none;
    z-index: 3;
}
#tabs #current a::after{  
  z-index: 3;
}
#resultboard{
	background:url(../Images/your-bets/winning-popup.png) no-repeat 0 0;
	height: 400px;
    left: 130px;
    position: absolute;
    top: 350px;
    width: 500px;
    z-index: 1002;
	display:none
}
 
#resultboard  #close {
    background: url(../Images/get_more/close.png) no-repeat scroll 0 0;
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 36px;
    margin-top: 6px;
    width: 30px;
	margin-right: 0px;
}
#resultboard  #title {
    font-family: copperplate gothic bold;
    font-size: 16px;
    font-weight: normal;
    left: 10px;
    position: absolute;
    top: 10px;
}


#scrollbar2{
	margin: 40px auto 10px;
    position: relative;
    width: 477px;
	 top: 80px;
}
#scrollbar2 .viewport{
   height: 315px;
    overflow: hidden;
    position: relative;
    width: 445px;   
}


#scrollbar1{
	margin: 40px auto 10px;
    position: relative;
    width: 477px;
}

#scrollbar1 .viewport{
   height: 400px;
    overflow: hidden;
    position: relative;
    width: 445px;   
}

#scrollbar3{
	margin: 46px auto 10px;
    position: relative;
    width: 500px;
}

#scrollbar3 .viewport{
   height: 220px;
    overflow: hidden;
    position: relative;
    width: 480px;   
}
#scrollbar3 .scrollbar{    
    right: 10px !important;
	z-index:1;
}	


#scrollbar3 .overview{
	width:100%;
}
#scrollbar3 .overview,
#scrollbar2 .overview,
#scrollbar1 .overview{
    list-style:none;
    position:absolute;
    left:0;
    top:0;
    margin:0;
    padding: 10px 0;
}
#scrollbar3 .scrollbar,
#scrollbar2 .scrollbar,
#scrollbar1 .scrollbar{
    background:transparent url(../Images/bg-scrollbar-track-y.png) no-repeat 0 0;
    position: absolute;
    right: 10px;
    top: 0;
    width: 15px;
}
#scrollbar3 .track,
#scrollbar2 .track,
#scrollbar1 .track{
    background:transparent url(../Images/bg-scrollbar-trackend-y.png) no-repeat 0 100%;
    height:100%;
    width:13px;
    position:relative;
    padding:0 1px;
}
#scrollbar3 .thumb,
#scrollbar2 .thumb,
#scrollbar1 .thumb{
    background:transparent url(../Images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%;
    height:20px;
    width:25px;
    cursor:pointer;
    overflow:hidden;
    position:absolute;
    top:0;
    left:-5px;
}
#scrollbar3 .thumb .end,
#scrollbar2 .thumb .end,
#scrollbar1 .thumb .end{
    background:transparent url(../Images/bg-scrollbar-thumb-y.png) no-repeat 50% 0;
    overflow:hidden;
    height:5px;
    width:25px;
}
#scrollbar3 .disable,
#scrollbar2 .disable,
#scrollbar1 .disable{
    display:none;
}

.noSelect
{
    user-select:none;
    -o-user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
}
#best_value .chips span, #best_value .coins span,
#blue_box .chips span, #blue_box .coins span{
	font-size:20px;
	color:#fff;
}
#best_value .chips,
#blue_box .chips{
	background:transparent url(../Images/get_more/chips.png) no-repeat 0 0;
	height: 37px;
    left: 25px;
    line-height: 17px;
    padding-left: 43px;
    text-align: center;
    top: 32px;
} 
#best_value .plus,
#blue_box .plus {
    left: 160px;
    position: absolute;
    top: 40px;
}

#best_value .equal,
#blue_box .equal {
   left: 278px;
    position: absolute;
    top: 38px;
}
#best_value .coins,
#blue_box .coins{
	background:transparent url(../Images/get_more/coins.png) no-repeat 0 0;
	 height: 45px;
    left: 175px;
    line-height: 17px;
    padding-left: 47px;
    top: 30px;
}
#best_value .chips, #best_value .coins,
#blue_box .chips, #blue_box .coins{
	font-size:11px;
	color:#efc701;
    position: absolute;
	
}
#blue_box,
#best_value{
	font-size:20px;
	font-weight:bold;
	color:#fd4345;
}



	.flip-container {		
		cursor: pointer;
		float: left;
		margin-bottom:15px;		
		-webkit-perspective: 1000;
			-moz-perspective: 1000;
			-ms-perspective: 1000;
			perspective: 1000;

			-ms-transform: perspective(1000px);
			-moz-transform: perspective(1000px);
    			-moz-transform-style: preserve-3d; 
    			-ms-transform-style: preserve-3d;
	}	
				/*
			.flip-container:hover .flipper, .flip-container.hover .flipper, #flip-toggle.flip .flipper {
				-webkit-transform: rotateY(180deg);
				-moz-transform: rotateY(180deg);
				-ms-transform: rotateY(180deg);
				transform: rotateY(180deg);
				filter: FlipH;
    			-ms-filter: "FlipH";
			}
			*/


			/* START: Accommodating for IE */
			.flip-container:hover .back, .flip-container.hover .back {
				-webkit-transform: rotateY(0deg);
				-moz-transform: rotateY(0deg);
				-o-transform: rotateY(0deg);
				-ms-transform: rotateY(0deg);
				transform: rotateY(0deg);
			}

			.flip-container:hover .front, .flip-container.hover .front {
				-webkit-transform: rotateY(180deg);
				-moz-transform: rotateY(180deg);
				-o-transform: rotateY(180deg);
				transform: rotateY(180deg);
			}
	
	.flip-container, .front, .back {
		height: 200px;
		width: 140px;
	}

	.flipper {
		-webkit-transition: 0.6s;
		-webkit-transform-style: preserve-3d;
		-ms-transition: 0.6s;

		-moz-transition: 0.6s;
		-moz-transform: perspective(1000px);
		-moz-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;

		transition: 0.6s;
		transform-style: preserve-3d;

		position: relative;
	}

	.front, .back {
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;

		-webkit-transition: 0.6s;
		-webkit-transform-style: preserve-3d;

		-moz-transition: 0.6s;
		-moz-transform-style: preserve-3d;

		-o-transition: 0.6s;
		-o-transform-style: preserve-3d;

		-ms-transition: 0.6s;
		-ms-transform-style: preserve-3d;

		transition: 0.6s;
		transform-style: preserve-3d;

		position: absolute;
		top: 0;
		left: 0;
	}
	.front {
		-webkit-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);	
		z-index: 2;
}

	.back {		
		-webkit-transform: rotateY(-180deg);
		-moz-transform: rotateY(-180deg);
		-o-transform: rotateY(-180deg);
		-ms-transform: rotateY(-180deg);
		transform: rotateY(-180deg);
		background:transparent url(../Images/shop/blank-box-for-text.png) no-repeat 0 0;
	}
	
	
/*********************Wheel*****************************/
	#wheel #button:hover{
		background-position:0px -100px;
	}
	#wheel #button{
		background:url(../Images/wheel/spin-button.png) no-repeat center top;		
		cursor: pointer;
		height: 100px;
		left: 544px;
		position: absolute;
		text-align: center;
		top: 245px;
		width: 108px
	}
	#wheel #middle{
		cursor: pointer;
		height: 155px;
		left: 226px;
		position: absolute;
		text-align: center;
		top: 220px;
		width: 155px;
		background:url(../Images/wheel/ptp-logo-circle.png) no-repeat center top;
	}
	#wheel #pointer{
		cursor: pointer;
		height: 44px;
		left: 470px;
		position: absolute;
		text-align: center;
		top: 272px;
		width: 80px;
		background:url(../Images/wheel/pointer.png) no-repeat center top;
	}
	#wheel{
		/*background:url(../Images/wheel/spinwheel-bg.jpg) no-repeat center top;
		height: 800px;
		width: 760px;*/		
		margin-left: 40px;
		position: relative;
		z-index: 1002;
	}
	#wheel canvas{		
		background:url(../Images/wheel/spin-and-win.png) no-repeat scroll -51px -29px ;
		
	}
	#venues{
		float: left; 
		display:none;
	}	
	#wheel #close{
		background:url(../Images/get_more/close.png) no-repeat 0 0;	
		cursor: pointer;
		display: inline-block;
		float: right;
		height: 36px;
		left: 500px;
		position: absolute;
		top: 120px;
		width: 30px;
	}
	#congratulations{	
		background:url(../Images/your-bets/you-have-won.png) no-repeat 0 0;		
		color: #FFFFFF;
		display: none;
		height: 280px !important;
		left: 225px;
		opacity: 1 !important;
		position: absolute;
		top: -300px;
		width: 300px !important;
		z-index: 1002;
	}
	#congratulations a{
		background:url(../Images/get_more/close.png) no-repeat 0 0;	
		 cursor: pointer;
		display: inline-block;
		float: right;
		height: 36px;
		left: 265px;
		position: absolute;
		top: 120px;
		width: 30px;
	}
	#congratulations  p {
		font-family: copperplate gothic bold;
		font-size: 12px;
		font-weight: normal;
		margin-top: 115px;
		padding: 82px 22px 10px;
		text-align: center;
		text-transform: uppercase;
	}
/*********************Wheel*****************************/	
	#video_above2{		
		height: 170px;
		position: absolute;
		right: 95px;
		top: 200px;
		width: 35px;
		z-index: 1001;
	}
	#video_above3:hover{
		z-index: 0;		
	}
	#video_above3{
		background: url(../Images/ptp-speaker.png) no-repeat scroll 0 0;
		height: 107px;
		position: absolute;
		right: 95px;
		top: 370px;
		width: 35px;
		z-index: 1001;
		background-position: 11px 85px;		
	}
	#video_above1{
		/*height: 277px; 
		left: 165px; 
		position: absolute; 
		top: 200px; 
		width: 494px; 
		z-index: 1001;*/
		height: 277px; 
		left: 165px; 		
		position: absolute; 
		top: 200px; 
		width: 465px; 
		z-index: 1001;
		/*height: 75px;
		left: 165px;
		position: absolute;
		top: 400px;
		width: 494px;
		z-index: 1001;*/
	}
	
		.fancy{
			background:url(../Images/slot/slot-machine-1.png) no-repeat center center;
			height: 700px;
			left: 30px;
			position: absolute;
			width: 700px;
			z-index: 1002;
		}
		ul {
			padding: 0;
			margin: 0;
			list-style: none;
		}
		.jSlots-wrapper {
			overflow: hidden;
			height: 20px;
			display: inline-block; 
		}
		.slot {
			float: left;
			
		}
		#blank{
			width: 160px;
			z-index: 1001;
		}
		.fancy .jSlots-wrapper ,#blank{			
			display: inline-block;
			height: 60px;
			left: 295px;
			overflow: hidden;
			position: absolute;
			top: 360px;
		}
		.fancy .slot li {
			width: 100%;
			line-height: 60px;
			text-align: center;
			font-size: 70px;
			font-weight: bold;
			color: #fff;    
			font-family: 'Gravitas One', serif;    
		}
		.fancy .slot:first-child li {
			border-left: none;
		}
		.fancy .slot li span {
			display: block;
		}
		#playFancy:hover{
			color:#fff;
		}
		#playFancy{
			background:url(../Images/slot/ot-machine-handle.png) no-repeat; 
			height: 94px;
			left: 565px;
			position: absolute;
			top: 381px;
			width: 81px;	
			cursor: pointer;			
		}
		#spin_win{
			background:url(../Images/slot/spin-n-win.png) no-repeat; 
			height: 126px;
			left: 180px;
			position: absolute;
			top: 440px;
			width: 369px;;
		}
		
		#arrow{
			background:url(../Images/slot/arrow.png) no-repeat; 
			height: 70px;
			left: 482px;
			position: absolute;
			top: 415px;
			width: 98px;
		}
		#change_me{
			background:url(../Images/slot/handle-81x94-new.png) no-repeat; 
			background-position: 0 0;	
			 cursor: pointer;
			height: 94px;
			left: 550px;
			position: absolute;
			top: 383px;
			width: 81px;
		}	
		.fancy #close{
			background:url(../Images/get_more/close.png) no-repeat 0 0;	
			cursor: pointer;
			display: inline-block;
			float: right;
			height: 36px;
			left: 555px;
			position: absolute;
			top: 145px;
			width: 30px;
		}		
		#star{
			background:url(../Images/slot/graphics-fireworks-032090.gif) no-repeat 0 0;	
			cursor: pointer;
			position: absolute;
			display: inline-block;
			float: right;
			height: 108px;
			left: -40px;
			top: -20px;
			width: 144px;
		}
		#levels_popup{	
			background:url(../Images/get_more/get_more.png) no-repeat 0 0;
			height: 458px;
			left: 130px;
			position: absolute;
			top: 200px;
			width: 477px;
			z-index: 1002;
			display:none
			
		}
		#levels_popup #close{
			background:url(../Images/get_more/close.png) no-repeat 0 0;	
			cursor: pointer;
			display: inline-block;
			float: right;
			height: 36px;
			margin-top: 6px;
			width: 30px;
		}
		.c_level{
			color: #FFFFFF !important;
			font-size: 20px !important;
			line-height: 40px;
		}
		#all_levels {
			margin: 48px auto 0 3px;
			text-align: center;
		}
		.locked_levels{
			background:url(../Images/level/locked-levels.png) no-repeat 0 0;	
			width:470px;
			height:79px;
			position: relative;
		}
		.level-completed{
			background:url(../Images/level/level-completed.png) no-repeat 0 0;	
			width:470px;
			height:79px;
			position: relative;
		}	
		.current-level{
			background:url(../Images/level/current-level.png) no-repeat 0 0;	
			width:470px;
			height:79px;
			position: relative;
		}	
		.level-completed .number, .current-level{color:#ffac25}
		
		.number{
			left: 92px;
			position: absolute;
			top: 27px;
			font-size: 24px;
			font-family: arial;
			font-weight: normal;
		}
		.name {
			color: #C7C7C7;
			font-family: arial;
			font-size: 14px;
			font-weight: bold;
			left: 160px;
			position: absolute;
			top: 32px;
			text-align: left;
			width: 240px;
		}
#divProcessing {
     position: absolute;
    top: 700px;
    z-index: 1010;
    left: 200px
}

#divProcessing > p {
    background: url(../Images/profile/253.GIF) no-repeat scroll right top;
    height: 50px;
    padding-top: 50px;
    text-align: left;
    vertical-align: top;
    width: 330px;
}
#gif1{
	position: absolute;
    top: -35px;
	display:none;
}
#gif2{
	left: 90px;
    position: absolute;
    top: -20px;
	display:none;
}
#gif3{
	position: absolute;
    right: 0;
    top: -5px;
	display:none;
}
#gif4{
	left: 75px;
    position: absolute;
    top: -145px;
	display:none;
}

#wager_start #betting_results{
	background:url(../Images/betting-history.png) no-repeat 0 0;
	height: 250px;
    position: absolute;    
    width: 265px;
	padding-left:5px;
	padding-right:5px;
	left:22px;top:825px
}
#betting_results #title {
    font-family: copperplate gothic bold;
    font-size: 15px;
    font-weight: normal;
    left: 15px;
    position: absolute;
    top: 7px;
}
#betting_results table{
	left: 0;
    margin-left: 5px;
    width: 265px;
    font-size: 12px;
    top: 21px;
}
#betting_results table td{
	width:33.33%;
}


#show_your_bets_popup{	
	background:url(../Images/your-bets/your-bets-bg.png) no-repeat 0 0;
	/*height: 458px;
    left: 130px;
    position: absolute;
    top: 200px;
    width: 477px;
    z-index: 1002;
	display:none
	*/	
    display: none;
    height: 55px;
    left: 430px;
    position: absolute;
    top: 1094px;
    width: 109px;
    z-index: 1002;
}
#show_your_bets_popup a{
	background:url(../Images/get_more/close.png) no-repeat 0 0;	
	cursor: pointer;
    display: inline-block;
    float: right;
    height: 36px;
    margin-top: 10px;
    width: 30px;
    margin-right: -12px;
}
#bet_count{
	background: url(../Images/your-bets/your-bets-button-notification.png) no-repeat scroll 0 0;
    color: #FFFFFF;
    float: right;
    font-size: 12px;
    height: 24px;
    margin-right: -5px;
    margin-top: -6px;
    padding-top: 6px;
    text-align: center;
    width: 30px;
    padding-left: 2px;
}
#show_your_bets_popup  #shop_now_title{
    font-family: copperplate gothic bold;
    font-size: 16px;
    font-weight: normal;
    left: 10px;
    position: absolute;
    top: 10px;
}
#show_your_bets:hover{ background-position:0 -60px}
#show_your_bets{
	background:url(../Images/your-bets/your-bets-button.png) no-repeat 0px -5px;
	cursor: pointer;
    height: 55px;
    left: 434px;
    position: absolute;
    top: 1095px;
    width: 105px;
    z-index: 1001;
}
#exotica_bet{
	background:url(../Images/your-bets/exotica-bet.jpg) no-repeat 0 0;
}	
#traditional_bet{
	background:url(../Images/your-bets/traditional-bet.jpg) no-repeat 0 0;
}	
#field_wagering_bet{
	background:url(../Images/your-bets/field-wagering-bet.jpg) no-repeat 0 0;
}	
#exotica_bet, #traditional_bet, #field_wagering_bet{	
	display: inline-block;
    height: 215px;
    margin: 0 auto;
    padding: 3px;
    width: 134px;
    margin-left: 5px;
	vertical-align: top;	
}
#show_your_bets_popup  #bets{
	margin: 0px auto 0 20px;
    text-align: center;
}
#show_your_bets_popup  #exotica_bet{
	
}
#wager_type{
	color: #FFAE00;
    font-family: 'Copperplate Gothic Bold';
    font-size: 10px;
    font-weight: normal;
    padding-bottom: 11px;
    padding-top: 8px;
    text-align: center;
}
#game_type{
	font-family: 'Copperplate Gothic Bold';
    font-size: 15px;
    font-weight: normal;
    text-align: center;
}
#chosen_handt{
	font-family: 'Copperplate Gothic Bold';
    font-size: 10px;
    font-weight: normal;
    margin-top: 15px;
    text-align: center;
}
 #chosen_hand{
	clear: both;
    display: inline-block;
    font-family: 'Copperplate Gothic Bold';
    font-size: 11px;
    font-weight: normal;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.chose_hand{
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
    margin-left: 2px;
    text-align: center;
    width: 25px;
    margin: 0 auto;
    display: inline-block;
}	
#amount{
	font-family: 'Copperplate Gothic Bold';
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #ffae00;
}
 #amount_t {
	font-family: 'Copperplate Gothic Bold';
    font-weight: normal;
    font-size: 12px;
    margin-top: 15px;
}	
#fb_share{
	background:url(../Images/your-bets/share-on-facebook.png) no-repeat 0 0;
	height: 30px;
    left: 84px;
    position: absolute;
    top: 228px;
    width: 120px;
	cursor:pointer;
	
}

#fb_ach{
	background:url(../Images/your-bets/share-on-facebook.png) no-repeat 0 0;
	height: 30px;
    left: 84px;
    position: absolute;
    top: 228px;
    width: 120px;
	cursor:pointer;
	
}
#win_amount span{
	font-size: 20px;
    font-weight: bold;
}
#win_amount{
	font-family: arial;
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    top: 107px;
    text-align: center;
    width: 100%;
}
#result_info tr {
    border-top: 1px solid;
}
#result_info td  p{
	color:#fff;
}
#result_info td {
    width: 33.33%;
}
#result_info table{
	margin-left: 75px;
    width: 315px;
}
#result_info{
	color: #FFAE00;
    font-family: arial;
    font-size: 12px;
    position: absolute;
    text-align: center;
    top: 154px;
}
/* Checkbox style */
.iphone-style  {
	display: block;
	width: 87px;
	height: 28px;
	background: url(../Images/iphone.png) no-repeat;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
}
.firerift-style {		
	display: block;
	width: 68px;
	height: 28px;
	background: url(../Images/firerift.png) no-repeat;
	cursor: pointer;
}
.on {background-position: 0% 100%;}
.off {background-position: 100% 0%;}
.hidden{display: none;}
/* Checkbox style */
#on_off{
	display: none;
    left: 67px;
    position: absolute;
    top: 1040px;
    z-index: 100;
}
#dvLoading {
	background:url(../Images/landing.jpg) no-repeat scroll center top #194A13;				
	height: 100%;
    margin: 0 auto;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 2147483647;
}

#dvLoading > img {
    position: absolute;
    top: 880px;
    left: 300px;
}		