/* 
    Document   : tab-slider-styles
    Created on : May 13, 2013, 12:17:47 PM
    Author     : grickaby
    Description: This is used to style the Tab Slider.
*/

#tab-slider {    
 height: 225px;
    left: 18px;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    top: 712px;
    width: 110px;
}
.tab-content {
    padding:7px;
    height:386px;
    width:686px;
    overflow:hidden;
    float: left;
}
ul.tab-nav .backs:hover {	
	background:url(../images/gamewindow/back-button-new.png) no-repeat scroll 45px -24px !important;
}
ul.tab-nav .backs {
	background:url(../images/gamewindow/back-button-new.png) no-repeat scroll 45px 0 !important;
	cursor: pointer;
    height: 24px;
    margin: -5px 0 0;
    padding: 0;
    width: 93px;
	display: inline-block;
    position: static;    
}

ul.tab-nav {
    padding:0;
    margin:0;
    list-style-type: none;    
    width:100%;
}
ul.tab-nav li:hover {
	background:url(../images/gamewindow/wagering-buttons-hover.png) no-repeat left top;    
}
ul.tab-nav li {
	background:url(../images/gamewindow/wagering-buttons.png) no-repeat left top;    
	height: 65px;
    margin: 0;
    padding: 0;
    width: 95px;
	cursor:pointer;
}
ul.tab-nav li  .active{
	background:url(../images/gamewindow/wagering-buttons-selected.png) no-repeat left top;    
}
ul.tab-nav li a{
	color: #FFFFFF;
    display: inline-block;
    font-family: 'Copperplate Gothic Bold';
    font-size: 10px; 
    font-weight: normal;
    letter-spacing: 1px;
    outline: medium none;
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
    width: 95%;
	padding-bottom: 20px;
}
#select_wager {
    font-family: arial;
    font-size: 18px;
    font-weight: normal;
    left: 24px;
    position: absolute;
    top: 657px;
    width: 170px;
}
#choose_hands {
    font-family: arial;
    font-size: 18px;
    font-weight: normal;
    left: 180px;
    position: absolute;
    top: 36px;
    width: 250px;
}
#hide_board #choose_hands{
    /*top: 52px;*/
}
.two_line{
	padding-top: 13px !important;
}
