﻿@using SampleFacebookApp.Models
@using Microsoft.AspNet.Mvc.Facebook.Models
@using Microsoft.AspNet.Mvc.Facebook
@model IList<MyAppUserFriendSimple>

<ul style="height: 129px; float: left; margin: 0px; padding: 0px; display: block;">
@foreach (var friend in Model)
{
    
                
                <li style="height: 129px; display: block; float: left; margin-right: 14px; margin-left: 14px;">
				    <a href='javascript:Invite(@friend.Id)'>
                    <img src="@friend.Picture.Data.Url" />
				<p id="invitetext">INVITE FRIENDS AND WIN 50 CHIPS</p>
				     </a>
                </li>
                
                
}
</ul>
 