﻿@model SampleFacebookApp.Models.PtpBettingDetial

<div class="game-no-time">
   <p class="gameno">Game No <br /><span>@Model.raceno</span></p>
   <p class="timeleft">Time Left<br /><span>@Model.programsmtp</span></p>
</div>