﻿
@model SampleFacebookApp.Models.PtpBettingDetial
            

@{
    ViewBag.Title = "Getresult";
}

<p id="win_amount">You have won <span>@Model.totalchipwin</span> Chips & <span>@Model.totalcoinwin</span>Coins</p>
				<div id="result_info">
					<table>
                         @{
                         int k = 1;
                         int l = 0;
                        }
                        @foreach(var betval in Model.bet_type)   
                        {
                            
                            <tr>
                                <td>Bet Type<p class="bet_type">@Model.bet_type[l]</p></td>
                                <td>Amount Placed<p class="place_amount">@Model.amount_placed[l]</p></td>
                                <td>Amount Won<p class="won_amount">@Model.amount_won[l]</p></td>
                           
                           
                          
                            </tr>
                           
                            l++;
                            k++; 
                        }     
						
					</table>
					
				</div>
