﻿@model SampleFacebookApp.Models.PtpBettingDetial

@{
    ViewBag.Title = "wager";
    Layout = "~/Views/Shared/help.cshtml";    
}


<body>   
    <div id="howtoplay">  
		<ul id="mainmenu">
			<li class="active">HOW TO PLAY</li>
			<li><a id="wager-now" href="@Url.Action("wager","WagerBoard")">WAGER NOW</a></li>
			<li><a id="tournaments" href="@Url.Action("tournament","WagerBoard")">TOURNAMENTS</a></li>			
		</ul>
		<h1 id="title">HOW TO PLAY</h1>
		<div id="content">
			<p><img src="../Images/howtoplay/board.jpg" style="float: right; margin-bottom: 2px; margin-left: 15px;">A new game begins every ten minutes, and opens with 12 two-card Texas Hold’em hands being dealt face-up, followed by the center card of a five-card community FLOP pile, also dealt face-up. The deal takes between 60 and 90 seconds, and shown below is a sample table layout as wagering begins.</p>
			<p>The object of the game is to predict the order in which the highest-scoring hands will finish once the remaining four “FLOP” cards are dealt and exposed. But you must also evaluate changing odds and payoffs as other players wager into each pool. </p>
			<p>Each wagering period lasts for approximately four minutes. Once the wagering period closes, the final four FLOP cards are dealt into their respective positions. The hands are then ranked using standard poker scoring, and official results are posted. </p>
			<p>Post Time Poker TM uses a pari-mutuel wagering system, including the following available wagers:</p>
			<div class="info">
				<p id="subheading">TRADITIONAL </p>
				<ul>
					<li><strong>WIN:</strong> you must pick the hand that is ranked 1st. </li>
					<li><strong>PLACE:</strong> your chosen hand must rank either 1st or 2nd. </li>
					<li><strong>SHOW:</strong> your chosen hand must rank either 1st, 2nd, or 3rd.</li>
				</ul>
			</div>
			<div class="info">
				<p id="subheading">EXOTICS</p>
				<ul>
					<li><strong>EXACTA:</strong> you must pick the two hands ranked 1st &amp; 2nd, in exact order. </li>
					<li><strong>TRIFECTA:</strong> you must pick the three hands ranked 1st, 2nd,&amp; 3rd, in exact order. </li>
					<li><strong>SUPERFECTA:</strong> you must pick the four hands ranked 1st through 4th, in exact order.</li>
				</ul>
			</div>
			<div class="info" style="border: medium none; margin: 0px; padding: 0px;">
				<p id="subheading">FIELD WAGERS</p>
				<ul>
					<li><strong>FOUR-OF-A-KIND:</strong> a wager that any of the 12 hands, or the FLOP pile, will include four-of-a-kind. </li>
					<li><strong>STRAIGHT FLUSH:</strong> a wager that any of the 12 hands, or the FLOP pile, will include a straight flush. </li>
					<li><strong>HIGH FLOP:</strong> a wager that the FLOP pile will rank first above all other hands.</li>
				</ul>
				
			</div>
			<p style="clear:both">Note: Exotics and Field Wagers are “carryovers”; all losing wagers are carried over and included in the next deal’s pools until hit.</p>
		</div>
	<p class="designed-by">
   <a target="_blank" href="http://www.major-brains.com" title="Designed & Developed by MajorBrains">
    MajorBrains
   </a>
  </p>	
	</div>	
</body>