﻿@using System.Data;
@using System.Data.SqlClient;
@using System.Collections;
@using SampleFacebookApp.Models
@using Microsoft.AspNet.Mvc.Facebook.Models
@using Microsoft.AspNet.Mvc.Facebook
@model IList<MyAppUserFriendSimple>
@{
    ViewBag.Title = "leaderlist";
    var conn  = new SqlConnection(System.Configuration.ConfigurationManager.ConnectionStrings["ptpcon"].ConnectionString);
    conn.Open();
   // var conn2 = new SqlConnection(System.Configuration.ConfigurationManager.ConnectionStrings["ptpcon"].ConnectionString);
   // conn2.Open();
    //string queryString = "SELECT destination_id FROM dbo.PTP_Facebook_Friends where source_id ="+Session["fbid"];
    //SqlCommand command = new SqlCommand(queryString, conn);
   // SqlDataReader sdr = command.ExecuteReader();
}
 
<div id="leaderboard" >


    <div id="title">Friends LeaderBoard</div>
	<table id="ldr_table" style="color:#66020a">
        <tr id="ldr_tr">
            <td class="ldr_td"><b>Name</b></td>
			<td class="ldr_td"><b>Total Chip</b></td>                
        </tr>
	</table>		
    <div id="leaderlist" class="padscroll">
        <table id="ldr_tables">		
     @{
        
           //  command.Dispose();
             
             //if(sdr.Read())
             //{
             //while(sdr.Read())
             //{

             foreach (var friend in Model)
               {
                 String queryString = "SELECT Name, Total_chip_count FROM dbo.PTP_Facebook_Player where Facebook_id ="+friend.Id;
                 SqlCommand command = new SqlCommand(queryString, conn);
                 

                // sdr.Close();
                 SqlDataReader sdr = command.ExecuteReader();
                 
                 
                 
                 if(sdr.Read())
                 {
                     <tr id="ldr_tr">
                <td class="ldr_td">@sdr.GetValue(0).ToString()</td>
                <td class="ldr_td">@sdr.GetValue(1).ToString()</td>
                                   
                </tr>
                     
                     
                 }

                 sdr.Close();
                 
             } 
    }
 
   
		
        </table>
        </div>
</div>

