﻿@model SampleFacebookApp.Models.PtpBettingDetial



<!-- user result baord-->


@if(@Model.resultstatus=="yes")
{
       <div id="resultboard">

          
  <p style="display:none" class="resultstatus">@Model.resultstatus</p>
   <a id="close" ></a> 
   <div id="title">EARNINGS LEDGER</div>
    <table id="ldr_table" style="color:#66020a">
     <tr id="ldr_tr">
        
      <td class="ldr_td"><b>Hands Chosen</b></td>
      <td class="ldr_td"><b>Bet Type</b></td>                
      <td class="ldr_td"><b>Amt Placed</b></td>  
                    
      <td class="ldr_td"><b>Amt Won</b></td>                
     </tr>
    </table>  
   <div class="result">
    <table id="ldr_tables">  
                    <tbody>
                        
                        @{
                         int k = 1;
                         int l = 0;
                        }
                        @foreach(var betval in Model.bet_type)   
                        {
                            
                            <tr id="ldr_tr">
                          
                            <td class="ldr_td">@Model.hand_chosen[l]</td>
                            <td class="ldr_td">@Model.bet_type[l]</td>
                            <td class="ldr_td">@Model.amount_placed[l]</td>
                            <td class="ldr_td">@Model.amount_won[l]</td>
                            </tr>
                           
                            l++;
                            k++; 
                        }     
                       
       <tr id="ldr_tr">
      <td colspan="3" style="text-align:right; color:#EFCB21" class="ldr_td">Total</td>
      <td class="ldr_td">@Model.total</td>
       </tr>   
     </tbody>
    </table>
   </div> 
   
  </div>

}
<div id="gameno">
    <div class="game-no-time">
         <p class="gameno">Game No <br /><span>@Model.raceno</span></p>
         <p class="timeleft">Time Left<br /><span>@Model.programsmtp</span></p>
   </div>
</div>



@if(Model.programstatus == "O")
{
    <p style="display:none" class="gameclose">open</p>
<div id="showodds">
			<table>
				<tr>
					<td>ODDS</td>

                    @{
						int i = 1;
					}
					@if(Model.oddlist != null){
         
						foreach(var var in Model.oddlist){
                            <td><span>@(i)-</span>@var</td>
							
							i++;
						}
					}
					
				</tr>
			</table>
</div>

  
	<div id="result_board_outer" >
		<div id="result_board">
	        <div class="result_board">
				<span class="title">Exacta  @Model.payoffsexhand.ToString()&</span>
				<span class="title" style="left: 219px;">POOL VALUE</span>
				<div id="hand">
					@{
						int j = 1;
					}
					@if(Model.payoffsexhandval != null){
						foreach(var var in Model.payoffsexhandval){
							<div class="hand@(j) hand">@j<p>@var</p></div>
							j++;
						}
					}
				</div>
                <div id="payoffs">
					<div class="win">WIN<p>@Model.winpool</p></div>
					<div class="place">PLACE<p>@Model.placepool</p></div>
					<div class="show">SHOW<p>@Model.showpool</p></div>
					<div class="exacta">EXACTA<p>@Model.exacta</p></div>
					<div class="tri">TRI<p>@Model.trifecta</p></div>
					<div class="super">SUPER<p>@Model.superfecta</p></div>				
					<div class="four_kind">4 OF A KIND<p>@Model.fourkind</p></div>
					<div class="straight_flush">STRAIGHT FLUSH<p>@Model.strflush</p></div>
					<div class="high_flop">HIGH FLOP<p>@Model.highpool</p></div>
				</div>              
            </div>			
		</div>		
    </div>	

        
}
else
{
    
    <p style="display:none" class="gameclose">yes</p> //changed
    
   if(@Model.betresult != null)     
    {
       
       <p style="display:none" class="resultboardtime">No</p>
       <p style="display:none" class="resulttime">@Model.resultstatus</p>
        <p style="display:none" class="isplayed">@Model.isplayed</p>
	<div id="result">
		<div class="title">RESULTS</div>
		<table>
			<tr>
				<th class="blank"></th>
				<th class="win">WIN</th>
				<th class="place">PLACE</th>
				<th class="show">SHOW</th>
				<th class="exacta" colspan="2">EXACTA</th>
				<th class="trifecta" colspan="2">TRIFECTA</th>
				<th class="superfecta" colspan="2">SUPERFECTA</th>
				<th class="wagers" colspan="3">FIELD WAGERS</th>					
			</tr>
			<tr>
				<td class="green">@Model.betresult[0]</td>
				<td class="lightgrey">@Model.winpaid1</td>
				<td class="lightgrey">@Model.placepaid1</td>
				<td class="lightgrey">@Model.showpaid1</td>
				<td class="darkgrey w42">@Model.exactaorder</td>
				<td class="lightgrey w42">@Model.exactaorder1paid</td>
				<td class="darkgrey w42">@Model.trifectaorder</td>
				<td class="lightgrey w42">@Model.trifectaorder1paid</td>
				<td class="darkgrey w42">@Model.superfectaorder</td>
				<td class="lightgrey w42">@Model.superfectaorder1paid</td>
				<td class="darkgrey w50">4-OAK</td>
				<td class="lightgrey w25">NO</td>
				<td class="lightgrey">-</td>
			</tr>
			<tr>
				<td class="green">@Model.betresult[1]</td>
				<td class="lightgrey"></td>
				<td class="lightgrey">@Model.placepaid2</td>
				<td class="lightgrey">@Model.showpaid2</td>
                <td class="darkgrey w42">@Model.exactaorder2</td>
				<td class="lightgrey w42">@Model.exactaorder2paid</td>
				<td class="darkgrey w42">@Model.trifectaorder2</td>
				<td class="lightgrey w42">@Model.trifectaorder2paid</td>
				<td class="darkgrey w42">@Model.superfectaorder2</td>
				<td class="lightgrey w42">@Model.superfectaorder2paid</td>
				
				<td class="darkgrey">ST-FLUSH</td>
				<td class="lightgrey">NO</td>
				<td class="lightgrey">-</td>
			</tr>
			<tr>
				<td class="green">@Model.betresult[2]</td>
				<td class="lightgrey"></td>
				<td class="lightgrey"></td>
				<td class="lightgrey">@Model.showpaid3</td>
				<td class="blank"></td>
				<td class="blank"></td>
				<td class="blank"></td>
				<td class="blank"></td>
				<td class="darkgrey w42">@Model.superfectaorder3</td>
				<td class="lightgrey w42">@Model.superfectaorder3paid</td>
				<td class="darkgrey">HI-FLOP</td>
				<td class="lightgrey">NO</td>
				<td class="lightgrey">-</td>
			</tr>
			<tr>

				<td class="green">@Model.betresult[3]</td>
				<td class="lightgrey"></td>
				<td class="lightgrey"></td>
				<td class="lightgrey"></td>
				<td class="blank"></td>
				<td class="blank"></td>
				<td class="blank"></td>
				<td class="blank"></td>
				<td class="darkgrey w42">@Model.superfectaorder4</td>
				<td class="lightgrey w42">@Model.superfectaorder4paid</td>
				<td class="blank"></td>
				<td class="blank"></td>
				<td class="blank"></td>
			</tr>
		</table>
	</div> 
}

else{
       
      
       

  <p style="display:none" class="resultboardtime">yes</p>
	<div id="result_board_outer" >
		<div id="result_board">
	        <div class="result_board">
				<span class="title">RESULTS</span>
				<span class="title" style="left: 219px;"></span>
				
                <div id="hand">
					<img  style=" position: absolute;    top: 52px;    left: 190px;"  src="../Images/76.GIF">
                </div>
                           
            </div>
			<div class="gift_board">	
				<ul style="margin: 0px; padding: 0px;">
					<li><img src="../Images/gift/champaigne.png"><div><p id="title">Champaigne</p><p id="button"></p></div></li>
					<li><img src="../Images/gift/cigar-pack.png"><div><p id="title">Cigar Pack</p><p id="button"></p></div></li>
					<li><img src="../Images/gift/books.png"><div><p id="title">Books</p><p id="button"></p></div></li>
					<li><img src="../Images/gift/hard-punch.png"><div><p id="title">Hard Punch</p><p id="button"></p></div></li>
					<li><img src="../Images/gift/high-heels.png"><div><p id="title">High Heels</p><p id="button"></p></div></li>
					<li><img src="../Images/gift/mind-blowing-kiss.png"><div><p id="title">Kiss</p><p id="button"></p></div></li>					
				</ul>
			</div>	
		</div>		
    </div>	

       
   }
}