﻿@model SampleFacebookApp.Models.WagerBoard


@{
    ViewBag.Title = "wager";
    Layout = "~/Views/Shared/wgr_update.cshtml";
}


<body>
    <div id="gamewindow">
	<div class="getmore">Get more Chips</div>
        <div class="invite_friend" onclick="javascript:renderMFS()">Invite Friends</div>
		<div class="awards">Achievements</div>		
		<div class="help">
            <a href="@Url.Action("help","WagerBoard")">
            Help
            </a>
		</div>
		<div class="setting"></div>
		<div class="home">

            <a href="@Url.Action("Index","Home")">
            
         </a>
		</div>
		<div class="get_bonus">Shop</div>
		<div class="your_score">Your Score</div>
		<div class="level_crossed"><span>1</span><br />Level Crossed</div>
        
		<div id="profilepic" class="profilepic"><img style="width:65px;height:65px" src="@Model.facebook.ProfilePicture.Data.Url">Your Profile</div>
        <div id="contributors">

                 @Html.Partial("odds", Model.betmodel)  
				 
            </div>
		<div id="sendgift">
			<div class="sendgift">Send <br> a <br> gift</div>
		</div>	
		<div id="gift_board_outer">
		<div class="gift_board">	
			<ul style="margin: 0px; padding: 0px;">
				<li><img src="../Images/gift/champaigne.png"><div><p id="title">Champaigne</p><p id="button"></p></div></li>
				<li><img src="../Images/gift/cigar-pack.png"><div><p id="title">Cigar Pack</p><p id="button"></p></div></li>
				<li><img src="../Images/gift/books.png"><div><p id="title">Books</p><p id="button"></p></div></li>
				<li><img src="../Images/gift/hard-punch.png"><div><p id="title">Hard Punch</p><p id="button"></p></div></li>
				<li><img src="../Images/gift/high-heels.png"><div><p id="title">High Heels</p><p id="button"></p></div></li>
				<li><img src="../Images/gift/mind-blowing-kiss.png"><div><p id="title">Kiss</p><p id="button"></p></div></li>					
			</ul>
		</div>	
		</div>	
		<div id="gameloader">
			<img src="../Images/red-chip.GIF">
		</div>
		<div id="wager_leaderboard">
			<div id="wager_start">
				<div id="wager_now">Wager now</div>
				
				 @Html.Partial("leaderlist",Model.facebook.Friends.Data)
				
			</div>	
			<div id="wagerme">
					<div id="select_wager">STEP 1: Choose the type of wagering</div>
					<div id="newback">
						<div class="newback"></div>
					</div>
					<div id="tab-slider">
						<div class="tab-nav" style="display:none">
							<ul class="tab-nav">
								<li class="tab"><a class="tab-link" href="#section1" rel="1">Section 1</a></li>
								<li class="tab"><a class="tab-link" href="#section2" rel="2">Section 2</a></li>
								<li class="tab"><a class="tab-link" href="#section3" rel="3">Section 3</a></li>
							</ul>
						</div>
						<div class="tab-main-content">
							<div style="width: 12600px; margin-left: 0px;" class="tab-slider-wrapper">
								<div class="tab-content" id="section1">
									<ul class="tab-nav">
										<li class="tab"><a class="tab-link" href="#traditional" rel="2">Traditional</a></li>
										<li class="tab"><a class="tab-link" href="#exotica" rel="3">Exotica</a></li>
										<li class="tab"><a class="tab-link two_line" href="#field_wagering" rel="4">Field Wagering</a></li>
									</ul>	                        
								</div>
								<div class="tab-content" id="traditional">						
									<ul class="tab-nav">
										<li class="tab"><a title="You must pick the hand that is ranked 1st." class="tab-link submenu">WIN</a></li>
										<li class="tab"><a title="Your chosen hand must rank either 1st or 2nd. " class="tab-link submenu">PLACE</a></li>
										<li class="tab"><a title="Your chosen hand must rank either 1st, 2nd, or 3rd."  class="tab-link submenu">SHOW</a></li>
										<li class="tab backs"><a style="padding: 0; height: 25px;" class="tab-link" rel="1"></a></li>
									</ul>	
								</div>
								<div class="tab-content" id="exotica">
									<ul class="tab-nav">
										<li class="tab"><a title="You must pick the two hands ranked 1st & 2nd, in exact order. " class="tab-link submenu">EXACTA</a></li>
										<li class="tab"><a title="You must pick the three hands ranked 1st, 2nd,& 3rd, in exact order." class="tab-link submenu">TRIFECTA</a></li>
										<li class="tab"><a title="You must pick the four hands ranked 1st through 4th, in exact order." class="tab-link submenu">SUPERFECTA</a></li>
										<li class="tab backs active"><a style="padding: 0; height: 25px;" class="tab-link" rel="1"></a></li>
									</ul>	
								</div>
								<div class="tab-content" id="field_wagering">
									<ul class="tab-nav">
										<li class="tab"><a title="A wager that any of the 12 hands, or the FLOP pile, will include a straight flush." class="tab-link submenu">STRAIGHT FLUSH</a></li>
										<li class="tab"><a title="A wager that any of the 12 hands, or the FLOP pile, will include four-of-a-kind. " class="tab-link submenu two_line">FOUR-DF-A-KIND</a></li>
										<li class="tab"><a title="A wager that the FLOP pile will rank first above all other hands." class="tab-link submenu">HIGH FLOP</a></li>
										<li class="tab backs"><a style="padding: 0; height: 25px;" class="tab-link" rel="1"></a></li>
									</ul>	
								</div>
							</div>
						</div>
					</div>		
					<div id="play_board">
						<div style="display: block;" id="hide_board"><div id="choose_hands">STEP 2: Choose your Hands</div></div>	
						<div id="board">	
								<p id="choose_hands">STEP 2: Choose your Hands</p>
								<div style="display: none;" class="hand1">1</div>	
								<div style="display: none;" class="hand2">2</div>	
								<div style="display: none;" class="hand3">3</div>	
								<div style="display: none;" class="hand4">4</div>	
								<div style="display: none;" class="hand5">5</div>	
								<div style="display: none;" class="hand6">6</div>	
								<div style="display: none;" class="hand7">7</div>	
								<div style="display: none;" class="hand8">8</div>	
								<div style="display: none;" class="hand9">9</div>	
								<div style="display: none;" class="hand10">10</div>	
								<div style="display: none;" class="hand11">11</div>	
								<div style="display: none;" class="hand12">12</div>						
						</div>
						<div id="board2">
							<p style="width: 270px;" id="choose_hands">STEP 2: Place your BET to WIN</p>
							<div id="field-wagers-bet">
								<div style="" class="win">WIN </br> BET</div>								
							</div>	
						</div>				 
					</div>		
					<div id="hide_your_bet"><div id="bet_title">STEP 3: Place your Bet </div></div>
					<div id="your_bet">	
						<div id="bet_title">STEP 3: Place your Bet </div>
						<div id="total_chips">$@Model.betmodel.chipbalance</div>
						<div id="total_chips_text">Total Chips</div>
						<!-- include the Tools -->
						  
						
						  <!-- HTML5 range input -->
						<script src="~/Scripts/jquery.tools.min.js"></script>
						<script src="~/Scripts/jquery.mousewheel.js"></script>
						<script src="~/Scripts/jquery.smartScroll.js"></script>
						<script src="~/Scripts/jquery-ui-1.7.2.custom.min.js"></script>
						<script src="~/Scripts/jquery.jrumble.1.3.min.js"></script>
						<script src="~/Scripts/prettify.js"></script>
						<script src="~/Scripts/jquery.tinyscrollbar.js"></script>												
						<script type='text/javascript'>
						    $(document).ready(function () {
						        $('.padscroll').smartScroll({
						            prefix: 'v1', // add a prefix classname to each created element  
						            width: 34, // scrollbar's width
						            height: 266, // scrollbar's height
						            mode: 'drag-vertical', //only mode avaible now
						            fx: 'normal', // 'normal' or 'tips'
						            wheelGap: 40, // distance in pixels ;
						            smart: true, // smart mode enable
						            fixWidth: 0, // fix IE7 float bug if your SmartScroll target has margin
						            // see setup for more information
						        });
						    });
						</script>
						<p id="dollar">$</p>
						  
						  <input type="range" name="test" min="60" max="250" value="0" />
						  <!-- make it happen -->
						  <script>
						      $(":range").rangeinput();
						  </script>
						  <div id="total_chips_start">$60</div>
						  <div id="total_chips_end">$250</div>
					</div>
					<div id="wager_now">
						<div style="display: none;" id="your_hands">Your Hands:</div>
						<div style="display: none;" id="position1"><p>1st position</p></div>
						<div style="display: none;" id="position2"><p>2nd position</p></div>
						<div style="display: none;" id="position3"><p>3rd position</p></div>
						<div style="display: none;" id="position4"><p>4th position</p></div>
					</div>	
				@using (Html.BeginForm("Placebet", "WagerBoard", FormMethod.Post))
				{
				   
						<input type="hidden" id="select_bettype" name="select_bettype" value="">
						 <input type="hidden" id="select_hand1" name="select_hand1" value="">
						<input type="hidden" id="select_hand2" name="select_hand2" value="">
						<input type="hidden" id="select_hand3" name="select_hand3" value="">
						<input type="hidden" id="select_hand4" name="select_hand4" value="">
						 <input type="hidden" id="select_chips" name="select_chips" value="60">
						<input type="hidden" id="program_name" name="program_name" value="@Model.betmodel.programscode">
						<input type="hidden" id="bet_race" name="bet_race" value="@Model.betmodel.raceno">
				   
						<button type="submit" id="wager_button">Place Bet</button>
						<div id="hide_wager_button">Place Bet</div>
					
				  
				}
					
			</div>
		</div>

		<div id="backgroundPopup"></div>
		<div id="error_message">
			<p>You select only</p>
			<a id="close" ></a>
		</div>
		<div id="your_score_popup">			
			<div class="title">BETTING LEDGER</div>
			<a id="close" ></a>	
			<div class="score">
				<p id="score_info">Current Chip Level<span>255</span></p>
				<p id="score_info">Highest Chip Won<span>145</span></p>
				<p id="score_info">Biggest Hand Won<span>25</span></p>
				<p id="score_info">Hands Played<span>1025</span></p>
				<p id="score_info">Tournaments Played<span>145</span></p>
				<p id="score_info">Tournaments Won<span>5</span></p>				
				
			</div>
		</div>
		<div id="levels_popup">			
			<div class="title">LEVELS</div>
			<a id="close" ></a>		
			<div id="all_levels">
				<div class="current-level"><span class="number">1</span><span class="name">You need to wins 5 hands</span></div>
				<div class="locked_levels"><span class="number">2</span><span class="name">You need to win 10 exotic bets</span></div>
				<div class="locked_levels"><span class="number">3</span><span class="name">You need to win 4 hands in a row</span></div>
				<div class="locked_levels"><span class="number">4</span><span class="name">You need to win 6 hands in a row</span></div>
				<div class="locked_levels"><span class="number">5</span><span class="name" style="top:24px;">You need to win 15 hands and reach chip target to 20K</span></div>				
			</div>	
		</div>
		<div id="get_more_chips">			
			<div class="title">GET MORE CHIPS</div>
			<a id="close" ></a>		
			<div id="scrollbar1">
				<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
				<div class="viewport">
					<div class="overview">
						<ul>
							<li id="blue_box">								
								<div class="chips"><span>1,500</span> <br />CHIPS</div> 
								<div class="plus"> + </div>
								<div class="coins"><span>250 </span><br />COINS</div> 
								<div class="equal"> = </div>								
								<div id="button"></div>
								<div id="price">$<span>5</span></div>
							</li>
							<li id="blue_box">								
								<div class="chips"><span>3,000 </span><br />CHIPS</div> 
								<div class="plus"> + </div>
								<div class="coins"><span>600 </span><br />COINS</div> 
								<div class="equal"> = </div>
								<div id="button"></div>
								<div id="price">$<span>9</span></div>
							</li>	
							<li id="best_value">								
								<div class="chips"><span>6,000 </span><br />CHIPS</div> 
								<div class="plus"> + </div>
								<div class="coins"><span>1500 </span><br />COINS</div> 
								<div class="equal"> = </div>
								<div id="button"></div>
								<div id="price">$<span>19</span></div>
							</li>	
							<li id="blue_box">								
								<div class="chips"><span>13,000 </span><br />CHIPS</div> 
								<div class="plus"> + </div>
								<div class="coins"><span>3200</span> <br />COINS</div> 
								<div class="equal"> = </div>
								<div id="button"></div>
								<div id="price">$<span>39</span></div>
							</li>	
							<li id="blue_box">								
								<div class="chips"><span>40,000</span> <br />CHIPS</div> 
								<div class="plus"> + </div>
								<div class="coins"><span>9000</span> <br />COINS</div> 
								<div class="equal"> = </div>
								<div id="button"></div>
								<div id="price">$<span>99</span></div>
							</li>	
							<li id="blue_box">								
								<div class="chips"><span>115,000</span><br />CHIPS</div> 
								<div class="plus"> + </div>
								<div class="coins"><span>20000</span><br />COINS</div> 
								<div class="equal"> = </div>
								<div id="button"></div>
								<div id="price">$<span>199</span></div>
							</li>							
						</ul>
					</div>
				</div>
			</div>				
		</div>
		<div id="achievements_popup">			
			<div class="title" id="achievementstitle">ACHIEVEMENT BOARD</div>
			<a id="close" ></a>			
			<div id="star_badge"><p class="title">Star Badge</p><p>Earn by inviting over 25 friends to play</p><p class="coins">5 Coins</p></div>
			<div id="triplets_badge"><p class="title">Triplets Badge</p><p>Earn by winning 3 times in a row</p><p class="coins">5 Coins</p></div>
			<div id="flushed_badge"><p class="title">Flushed Badge</p><p>Earn by winning hand with a flush</p><p class="coins">10 Coins</p></div>
			<div id="exactly_badge"><p class="title">Exactly! Badge</p><p>Earn by winning exotic wager with a pair</p><p class="coins">5 Coins</p></div>
		</div>
		<div id="my_profile">						
			<div id="my_profile_title" class="title">MY PROFILE</div>
			<a id="close" ></a>	
			<div id="profile_info">
				<div id="user_pic"><img style="width:65px;height:65px"src="@Model.facebook.ProfilePicture.Data.Url"></div>		
				<div id="user_name">@Model.facebook.Name</div>	
				<div id="user_level">Level: <span>3</span></div>
				<div id="user_chips">Chips: <span>@Model.betmodel.chipbalance</span></div>				
			</div>
			<div id="user_info">
				<ul id="tabs">
					<li id="current"><a href="#" name="tab1">OVERVIEW</a></li>
					<li><a href="#" name="tab2">ACHIEVEMENTS</a></li>
					<li><a href="#" name="tab3">GIFTS</a></li>		
				</ul>
				<div id="content"> 
					<div style="display: block;" id="tab1" class="tab"> 	
						<div>
							<p id="tournament_inof">Tournaments Played 	<span>5</span></p>
							<p id="tournament_inof">Tournaments Won		<span>1</span></p>
							<p id="tournament_inof">Max Chip		<span>$20,123</span></p>
							<p id="tournament_inof">Coins			<span>30</span></p>						
						</div>	
					</div>
					<div style="display: none;" id="tab2" class="tab">
						<div>2</div>
					</div>
					<div style="display: none;" id="tab3" class="tab">
						<div>3</div>
					</div>
				</div>
			</div>
		</div>
		<div id="shop_now">						
			<div id="shop_now_title" class="title">SHOP</div>
			<a id="close" ></a>	
			<h1>GET REAL REWARDS</h1>
			<p>Click on any Reward Card to see details about that reward.</p>
			<div id="scrollbar2">
				<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
				<div class="viewport">
					<div class="overview">
						<div id="outer">	
							<div mousehover="this.classList.toggle('hover');" class="flip-container" >
								<div class="flipper">
									<div class="front">			
										<div id="hrtv-subscription"><div id="button">1000 Coins</div></div>
									</div>
									<div class="back">			
										<div class="back-title"><div id="button">1000 Coins</div></div>			
									</div>
								</div>
							</div>
							<div mousehover="this.classList.toggle('hover');" class="flip-container" >
								<div class="flipper">
									<div class="front">			
										<div id="santa-anita-clubhouse-race-passes"><div id="button">2000 Coins</div></div>
									</div>
									<div class="back">			
										<div class="back-title"><div id="button">1000 Coins</div></div>			
									</div>
								</div>
							</div>
							<div mousehover="this.classList.toggle('hover');" class="flip-container" >
								<div class="flipper">
									<div class="front">			
										<div id="santa-anita-champagne-brunch"><div id="button">10,000 Coins</div></div>
									</div>
									<div class="back">			
										<div class="back-title"><div id="button">1000 Coins</div></div>			
									</div>
								</div>
							</div>
							<div mousehover="this.classList.toggle('hover');" class="flip-container" >
								<div class="flipper">
									<div class="front">			
										<div id="fedora-hat"><div id="button">10,000 Coins</div></div>
									</div>
									<div class="back">			
										<div class="back-title"><div id="button">1000 Coins</div></div>			
									</div>
								</div>
							</div>
							<div mousehover="this.classList.toggle('hover');" class="flip-container" >
								<div class="flipper">
									<div class="front">			
										<div id="playing-cards"><div id="button">10,000 Coins</div></div>
									</div>
									<div class="back">			
										<div class="back-title"><div id="button">1000 Coins</div></div>			
									</div>
								</div>
							</div>
							<div mousehover="this.classList.toggle('hover');" class="flip-container" >
								<div class="flipper">
									<div class="front">			
										<div id="poker-set"><div id="button">10,000 Coins</div></div>
									</div>
									<div class="back">			
										<div class="back-title"><div id="button">1000 Coins</div></div>			
									</div>
								</div>
							</div>
						</div>				
					</div>				
				</div>				
			</div>				
		</div>
		<p class="designed-by">
		   <a target="_blank" href="http://www.major-brains.com" title="Designed & Developed by MajorBrains">
			MajorBrains
		   </a>
		</p>		
		<div id="invite_frdn_popup">
			<div id="invite_frdn_title" class="title">INVITE FRIENDS</div>

			<a id="close" ></a>				
			<div id="mfs">
			</div>				
		</div>       		
			</div>				
    </body>