﻿@model SampleFacebookApp.Models.PtpBettingDetial
            

                       
                        @if(Model.bet_type.Count!=0)
                        {
                           
                            int l = 0;
                            foreach(var betval in Model.bet_type)   
                             {
                            if((Model.bet_type[l].Equals("WN")) || (Model.bet_type[l].Equals("PL")) || (Model.bet_type[l].Equals("SH")))
                              {
										    <div id="traditional_bet">
											<p id="wager_type">TRADITIONAL</p>
                                                 @if(betval.Equals("WN"))
                                                  {
                                                          <p id="game_type">WIN</p>
											                <p id="chosen_handt">HANDS CHOSEN</p>
											                <div id="chosen_hand">
											                <p class="chose_hand">@Model.hand_chosen[l]</p>									
											                </div>
											                <p id="amount_t">AMOUNT PLACED</p>
											                <p id="amount">@Model.amount_placed[l]</p>    
                                                    }
                                                    else if (betval.Equals("PL"))
                                                    {
                                                    <p id="game_type">PLACE</p>
											        <p id="chosen_handt">HANDS CHOSEN</p>
											        <div id="chosen_hand">
												        <p class="chose_hand">@Model.hand_chosen[l]</p>									
											        </div>
											        <p id="amount_t">AMOUNT PLACED</p>
											        <p id="amount">@Model.amount_placed[l]</p>    
                                                    }

                                                    else if (betval.Equals("SH"))
                                                    {
                                                    <p id="game_type">SHOW</p>
											        <p id="chosen_handt">HANDS CHOSEN</p>
											        <div id="chosen_hand">
												        <p class="chose_hand">@Model.hand_chosen[l]</p>									
											        </div>
											        <p id="amount_t">AMOUNT PLACED</p>
											        <p id="amount">@Model.amount_placed[l]</p>    
                                                    }
										
                                        </div>
                              }
                            if ((Model.bet_type[l].Equals("EX") || Model.bet_type[l].Equals("TR") || Model.bet_type[l].Equals("SU")))
                            {
                            <div id="exotica_bet">

                                                @if(Model.bet_type[l].Equals("SU"))
                                                {
                                                    String[] hands = @Model.hand_chosen[l].ToString().Split(',');
                                                    <p id="wager_type">EXOTICA</p>
											        <p id="game_type">SUPERFACTA</p>
											        <p id="chosen_handt">HANDS CHOSEN</p>
											        <div id="chosen_hand">
                                                       
												    <p class="chose_hand">@hands[0]</p>
												    <p class="chose_hand">@hands[1]</p>
                                                    <p class="chose_hand">@hands[2]</p>
												    <p class="chose_hand">@hands[3]</p>
                                                
                                                         </div> 
                                                 }
                                                 else if(Model.bet_type[l].Equals("TR"))
                                                {
                                                    String[] hands = @Model.hand_chosen[l].ToString().Split(',');
                                                        <p id="wager_type">EXOTICA</p>
											            <p id="game_type">TRIFECTA</p>
											            <p id="chosen_handt">HANDS CHOSEN</p>
											            <div id="chosen_hand">
												        <p class="chose_hand">@hands[0]</p>
												         <p class="chose_hand">@hands[1]</p>
                                                          <p class="chose_hand">@hands[2]</p>
												   
												  </div>
                                                 }
                                                else if(Model.bet_type[l].Equals("EX"))
                                                {
                                                    String[] hands = @Model.hand_chosen[l].ToString().Split(',');
                                                <p id="wager_type">EXOTICA</p>
											    <p id="game_type">EXACTA</p>
											    <p id="chosen_handt">HANDS CHOSEN</p>
											    <div id="chosen_hand">
												<p class="chose_hand">@hands[0]</p>
												<p class="chose_hand">@hands[1]</p>
                                                    
                                                
												 </div>
                                                }
                                                  <p id="amount_t">AMOUNT PLACED</p>
											<p id="amount">@Model.amount_placed[l]</p>
                             </div>
                            }
                            if(Model.bet_type[l] == "FW")
                             {
										    <div id="field_wagering_bet">
											<p id="wager_type">FIELD WAGERING</p>
											<p id="game_type">WIN</p>	
											<p id="chosen_handt"></p>
											<div id="chosen_hand"></div>
											<p id="amount_t">AMOUNT PLACED</p>
											<p id="amount">@Model.amount_placed[l]</p>
							    			
                            }
                            </div>

                                
                               
                               }
                                 l++; 
                               }
                               }
                                     else
                                     {
                                      <p>Please Place your first Bet!</p>
                                     }

