﻿@model SampleFacebookApp.Models.PtpBettingDetial


          
           
     
  			
			
				<p id="score_info">Current Chip Level<span>@Model.chipbalance</span></p>
				<p id="score_info">Highest Chip Won<span>@Model.high_won</span></p>
				<p id="score_info">Bets Placed<span>@Model.hands_played</span></p>
                <p id="score_info">Bets Won<span>@Model.tournament_win</span></p>
				<p id="score_info">Tournaments Played<span>@Model.tournament_played</span></p>
				<p id="score_info">Tournaments Won<span>@Model.tournament_win</span></p>				
				
			